__pycache__/*
models/__pycache__/*
controllers/__pycache__/*
views/__pycache__/*
build/*
dist/*
models/__pycache__/*
controllers/__pycache__/*
views/__pycache__/*
tests/__pycache__/*
temp-database.db
test_database.db
.gitpod.yml
Dockerfile
test_database.db
