{% extends "layout.html" %}
{% block title %}App Users{% endblock %}
{% block page %}App Users{% endblock %}

{{ super() }}

{% block content %}
<div class="row">
      <div class="row">
        <table class="col s12 m8 offset-m2">
        <tr>
            <th>ID</th>
            <th>LockerID</th>
            <th>Description</th>
            <th>Longitude</th>
            <th> Latitude</th>
        </tr>

        {% if areaData %}
        {% for a in areaData %}
        <tr>
            <td>{{a.id}}</td>
            <td>{{a.locker_id}}</td>
            <td>{{a.description}}</td>
            <td>{{a.longitude}} </td>
            <td>{{a.latitude}} </td>
        </tr>
            
        {% endfor %}
        {% endif %}
      </table>

      </div>

{% endblock %}