{% extends "layout.html" %}
{% block title %}Area{% endblock %}
{% block page %}Area{% endblock %}

{{ super() }}

{% block content %}
<div class="row">
  <div class="col s12 m8 offset-m8">
    <form method="POST" action="/area/search">
      <div class="input-field col s12 m4 offset-m1">
        <div class = "row">
          <input type="search" placeholder="Enter search query"/>
         </div>
      </div>

      <div class="input-field col s2 m2" style="display:inline; padding-left: 0px;">
        <button type="submit" style="padding: 9px 21.5px 37px 21.5px" class="purple darken-4 waves-effect waves-light btn-small"><i class="material-icons" style="padding: 5px; font-size: 2rem; color:white; ">search</i></button>
      </div>
    </form>
  </div>
   <div class="col s12 m10 offset-m1" style="height:60vh;">
        <table>
        <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Longitude</th>
            <th> Latitude</th>
        </tr>

        {% if areaData %}
        {% for a in areaData %}
        <tr>
            <td>{{a.id}}</td>
            <td>{{a.description}}</td>
            <td>{{a.longitude}} </td>
            <td>{{a.latitude}} </td>
            <div style=" position: relative;display: inline-flex;">
              <td style="width:120px;"><a href="#edit" onclick="editMode({{a}})" class="purple darken-4 waves-effect waves-light btn-small"><i class="material-icons left">edit</i>Edit</a></td>
              <td style="width:120px;"><a href="#delete" onclick="removeMode({{a}})" class="purple darken-4 waves-effect waves-light btn-small"><i class="material-icons left">delete</i>Delete</a></td>
            </div>
            </tr>
            
        {% endfor %}
        {% endif %}
      </table>
      </div>
      <div class="col m5 offset-m5">
        <ul class="pagination">

        {% if current_page == 1  %}
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        {% else %}
        <li><a href="/area/page/{{previous}}"><i class="material-icons">chevron_left</i></a></li>
        {% endif %}

        {% for n in range(1,num_pages + 1) %}

        {% if n == current_page %}
        <li class="active"><a href="/area/page/{{n}}">{{n}}</a></li>
        {% else %}
        <li class="purple darken-4 waves-effect"><a href="/area/page/{{n}}">{{n}}</a></li>
        {% endif %}

        {% endfor %}

        {% if current_page == num_pages %}
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        {% else %}
        <li><a href="/area/page/{{next}}"><i class="material-icons">chevron_right</i></a></li>
        {% endif %}
      </ul>
      </div>
      <div class="col s1 m1 offset-m11" style="padding: 0.75rem">
         <div class="floating-action-btn">
          <a class="btn-floating btn-large waves-effect waves-light purple darken-4 modal-trigger" href="#new_area"><i class="material-icons">add </i></a>
        </div>
      </div>

      <div class="modal" id="new_area" style="max-height: 100%;border-radius: 25px; height: 57vh;">
        <div class ="modal-content" id="content">
          <h6 style="font-weight: bold;">New Area </h6>
          <form id="AddArea" class="col s12 m12" method="POST" action="/area" style="padding: 10px; border-color: black;border: 2px; border-style: solid;">
            {{ form.csrf_token }}
            <div class="input-field col s12 m10"> 
              <p>Description</p>
              {{ form.description(size=20, class="validate") }}
            </div>
  
             <div class="input-field col s6 m6"> 
              <p>Longitude</p>
               {{ form.longitude(size=20, class="validate") }}
             </div>   
  
             <div class="input-field col s6 m6 "> 
              <p>Latitude</p>
               {{ form.latitude(size=20, class="validate") }}
             </div> 
             
             <div class="input-field col s8 m8 offset-m4" style="display:inline;">
              {{form.submit(class=" right purple darken-4 waves-light btn")}}
              <a class="red darken-4 white-text right modal-close waves-light btn">Cancel</a>
            </div> 
        </form>
        </div>
        </div>

        <div class="modal" id="edit_area" style="max-height: 100%;border-radius: 25px; height: 57vh;">
          <div class ="modal-content">
            <h6 style="font-weight: bold;">  Edit Area </h6>
            <form id="editArea" class="col s12 m12" method="POST" action="/area" style="padding: 10px; border-color: black;border: 2px; border-style: solid;">
              {{ form.csrf_token }}
              <div class="input-field col s12 m10"> 
                <p>Description</p>
                {{ form.description(size=20, class="validate" ,id="u_description") }}
              </div>
    
               <div class="input-field col s6 m6"> 
                <p>Longitude</p>
                 {{ form.longitude(size=20, class="validate", id="u_long") }}
               </div>   
    
               <div class="input-field col s6 m6 "> 
                <p>Latitude</p>
                 {{ form.latitude(size=20, class="validate", id="u_lat")  }}
               </div> 
               
               <div class="input-field col s8 m8 offset-m4" style="display:inline;">
                {{form.submit(id="u_submit",class=" right purple darken-4 waves-light btn")}}
                <a class="red darken-4 white-text right modal-close waves-light btn">Cancel</a>
              </div>  
          </form>
          </div>
        </div>

          <div class="modal" id="delete_area" style="max-height: 100%;border-radius: 25px; height: 33vh;">
            <div class="modal-content">
              <h6 style="font-weight: bold;">Delete Area </h6>
               <form id="deleteArea" class="col s12 m12" method="POST" style="padding: 10px; border-color: black;border: 2px; border-style: solid;">
                {{ delete.csrf_token }}
                <div class="input-field col s12 m12"> 
                  <h5 id="deleteTitle"></h5>
                </div>
              
              <div class="input-field col s8 m8 offset-m4" style="display:inline;">
                {{delete.submit(class="right purple darken-4 waves-light btn")}}
                <a class="red darken-4 white-text right modal-close waves-light btn">Cancel</a>          </div>
              </form>
          </div>
        </div>

      </div>
     

      <script>
        document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems);
        var elems = document.querySelectorAll('.fixed-action-btn');
        var instances = M.FloatingActionButton.init(elems);
  });

    function editMode(area){
      form = document.getElementById('editArea')
      form.action = "/area/"+area.id+"/update"

      description = document.getElementById("u_description")
      description.value = area.description
      long = document.getElementById("u_long")
      long.value = area.longitude
      lat = document.getElementById("u_lat")
      lat.value = area.latitude
      submit = document.getElementById("u_submit")
      submit.value = "Update Area"

      elem = document.getElementById('edit_area');
      instance = M.Modal.getInstance(elem)
      instance.open()
    }

    function removeMode(area){
    form = document.getElementById('deleteArea')
    title = document.getElementById('deleteTitle')
    title.innerHTML = "Are you sure you want to delete "+area.description+"! This action cannot be undone"
    form.action = "/area/"+area.id+"/confirmed"

    elem = document.getElementById('delete_area');
    instance = M.Modal.getInstance(elem)
    instance.open()

  }
      </script>

{% endblock %}