{% extends "layout.html" %}
{% block title %}App Users{% endblock %}
{% block page %}App Users{% endblock %}

{{ super() }}

{% block content %}
    <div class="row" style="background-color: blueviolet; margin:20px;padding-bottom: 250px;">
        <p>
            avail
        </p>
    </div>
    <div class="row" style="background-color: coral; margin:20px;padding-bottom: 460px; padding-left: 11px;padding-right: 11px;">
        <div class="row">
            <table>
              <thead style="background-color: deepskyblue;">
                <tr>
                  <th>Locker Code</th><th>Area</th><th>Type</th><th>Status</th><th>Key</th>
                </tr>
              </thead>
              <tbody style="overflow-y: scroll; height: 600px;background-color: chocolate;">
                {% for result in results %}
                  <tr>
                      <td>{{result.locker_code}}</td>
                      <td>{{result.area}}</td>
                      <td>{{result.locker_type}}</td>
                      <td>{{result.status}}</td>
                      <td>{{result.key}}</td>
                  </tr>
                {% endfor %}
              <tbody>
            </table>
          </div>
    </div>
{% endblock %}