{% extends "layout.html" %}
{% block title %}Delete Area {% endblock %}
{% block page %}Delete Area{% endblock %}

{{ super() }}

{% block content %}
<div class="row">
    <div class="row">
      <form id="deleteArea" class="col s12 m8 offset-m2" method="POST" action="/area/{{area.id}}/confirmed">
          {{ form.csrf_token }}
          <div class="input-field col s12 m8 offset-m2" style="display:inline;">
            <a href="/area" style="padding: 2rem;">Cancel</a> 
            {{form.submit}}
          </div> 
{% endblock %}