{% extends "layout.html" %}
{% block title %}Key: {{keyData.key_id}}{% endblock %}
{% block page %}Key: {{keyData.key_id}}{% endblock %}

{{ super() }}

{% block content %}
<div class="row">
  <div class="col s7 offset-s3">
    <div class="card small indigo lighten-2" style="height: 22vh;">
    <div class="card-content white-text">
      <span class="card-title">Key information: {{keyData.key_id}}</span>
      <div class="divider"></div>
      <div class="col s6">
        <h6>Masterkey: <a href="/masterkey/{{keyData.masterkey_id}}">{{keyData.masterkey_id}}</a> </h6>
        <h6>Status: {{keyData.key_status.value}}</h6>
      </div>
      <div class="col s6">
        <h6>Date Added: {{keyData.date_added}}</h6>
      </div>
    </div>
    </div>
    </div>
</div>

<div class="row">
  <div class="col s12 m10 offset-m1">
    <h6>Key History of {{keyData.key_id}} </h6>
    <table>
      <thead>
        <tr>
          <th>LockerID</th>
          <th>Date Moved</th>
        </tr>
      </thead>
      <tbody>
        {% for k in keyHistory %}
        <tr>
          <td><a href="/locker/{{k.locker_id}}">{{k.locker_id}}</a></td>
          <td>{{k.date_moved}}</td>
        {% endfor %}
      </tbody>
    </table>
</div>

<div class="col m5 offset-m5">
  <ul class="pagination">
  {% if current_page == 1 %}
  <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
  {% else %}
  <li><a href="/key/{{keyData.key_id}}/page/{{previous}}"><i class="material-icons">chevron_left</i></a></li>
  {% endif %}

  {% for n in range(1,num_pages + 1) %}
  {% if n == current_page %}
  <li class="waves effect purple darken-4"><a href="/key/{{keyData.key_id}}/page/{{n}}" style="color:white;">{{n}}</a></li>
  {% else %}
  <li class="waves-effect purple darken-4"><a href="/masterkey/{{keyData.key_id}}/page/{{n}}" style="color:white;">{{n}}</a></li>
  {% endif %}
  {% endfor %}

  {% if current_page == num_pages %}
  <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
  {% else %}
  <li><a href="/masterkey/{{keyData.key_id}}/page/{{next}}"><i class="material-icons">chevron_right</i></a></li>
  {% endif %}
</ul>
</div> 
</div>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large waves-effect waves-light purple darken-4"  onclick="editMode({{keyData.toJSON()}})"><i class="material-icons">edit</i></a>
  <ul>
    <li><a class="btn-floating purple darken-4" onclick="assign({{keyData.toJSON()}})"><i class="material-icons left">add</i>Add Key</a></li>
    <li><a class="btn-floating purple darken-4" onclick="removeMode({{keyData.toJSON()}})"><i class="material-icons left">delete</i>Delete</a></li>
  </ul>
</div>

<div class ="modal" id="edit_key" style="max-height: 100%;border-radius: 25px; height: 65vh;">
  <div class ="modal-content" id="content">
    <h6 style="font-weight: bold;"> Edit Key </h6>
    <form id="editKey" class="col s12 m12" method="POST" action="/key" style="padding: 10px; border-color: black;border: 2px; border-style: solid;">
      {{keys.csrf_token}}
      <div class="input-field col s12 m12">  
        <div class="col s6">
          <p>Key ID</p>
          {{ keys.key_id(size=20, class="validate", id='u_key_id')}}
        </div>  
        <div class="col s6">
          <p>MasterKey ID</p>
          {{ keys.masterkey_id(size=20, class="validate",id="u_m_key")}}
        </div> 
       </div> 
       
       <div class="input-field col s12 m12">  
        <div class="col s6">
          <p>Key Status</p>
          <select id="u_key_status" name="key_status" style="display:inline;">
            <option value=”” disabled selected>Select a Key Status</option>
            {% for subfield in keys.key_status %}
             {{subfield}}
            {% endfor %}
          </select>
        </div>  
        <div class="col s6">
          <p>Date Added</p>
          {{ keys.date_added(size=20, class="datepicker",id='u_date')}}
        </div> 
       </div> 
       <div class="input-field col s8 m8 offset-m4" style="display:inline;">
        {{keys.submit(class=" right purple darken-4 waves-light btn", id='u_submit')}}
        <a class="red darken-4 white-text right modal-close waves-light btn">Cancel</a>
      </div> 
    </form>
    </div>
    </div>
</div>

<div class ="modal" id="assign_Key" style="max-height: 100%;border-radius: 25px; height: 35vh;">
  <div class ="modal-content" id="content">
    <h6>Assign Key</h6>
    <form id="assignKey" class="col s12 m12" method="POST" style="padding: 10px; border-color: black;border: 2px; border-style: solid;">
      <div class="input-field col s8 m8 offset-m2">
        <input type="text" id="assignBox" name="assign">
      </div>                  
      <div class="input-field col s8 m8 offset-m2" style="display:inline;">
        <input type="submit" value="Assign" class="right purple darken-4 waves-light btn">
        <a class="red darken-4 white-text right modal-close waves-light btn">Cancel</a>          
      </div>
    </form>
    </div>
</div>

<div class="modal" id="delete_key" style="max-height: 100%;border-radius: 25px; height: 35vh;">
  <div class="modal-content">
    <h6 style="font-weight: bold;">Delete Locker </h6>
    <form id="deleteKey" class="col s12 m12" method="POST" style="padding: 10px; border-color: black;border: 2px; border-style: solid;">
    {{ delete.csrf_token }}
    <div class="input-field col s12 m12"> 
      <h5 id="deleteTitle"></h5>
    </div>
  
  <div class="input-field col s8 m8 offset-m4" style="display:inline;">
    {{delete.submit(class="right purple darken-4 waves-light btn")}}
    <a class="red darken-4 white-text right modal-close waves-light btn">Cancel</a>          
  </div>
  </form>
</div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
  var elems = document.querySelectorAll('.modal');
  var instances = M.Modal.init(elems);
  var elemsBtn = document.querySelectorAll('.fixed-action-btn');
  var instancesBtn = M.FloatingActionButton.init(elemsBtn);
  });

  function removeMode(key){

form = document.getElementById('deleteKey')
title = document.getElementById('deleteTitle')
title.innerHTML = "Are you sure you want to delete "+key.key_id+"! This action cannot be undone"
form.action = "/key/"+key.key_id+"/confirmed"

elem = document.getElementById('delete_key');
instance = M.Modal.getInstance(elem)
instance.open()
}
function assign(key){
    form = document.getElementById('assignKey')
    form.action = "/key/"+key+"/assign?callback=key&id="+key.key_id

    elem = document.getElementById('assign_Key');
   instance = M.Modal.getInstance(elem)
   instance.open()
  }

function editMode(key){
   form = document.getElementById('editKey')
   form.action = "/key/"+key.key_id+"/update?callback=key&id="+key.key_id

   id =  document.getElementById('u_key_id')
   id.value = key.key_id
  
   masterkey = document.getElementById('u_m_key')
   key_status = document.getElementById('u_key_status')
   masterkey.value = key.masterkey_id
  
   button = document.getElementById('u_submit')


   button.value = "Update key"
    
   date = document.getElementById("u_date")
   date.value = key.date_added

   for (i = 0; i < key_status.options.length; i++){
      if(key_status.options[i].value === key.key_status){
        key_status.selectedIndex = i
      }
   }
  
   
   elem = document.getElementById('edit_key');
   instance = M.Modal.getInstance(elem)
   instance.open()
  }
</script>

{% endblock %}