{% extends "layout.html" %}
{% block title %}Add Locker{% endblock %}
{% block page %}Add Locker{% endblock %}

{{ super() }}

{% block content %}
    <form id="newKey" method="POST">
        <label for="key_id"> Key ID</label>
        <input type="text" id="key_id" name="key_id"/>
        
        <label for="key_1"> Key 1</label>
        <select name="key_1" id="key_1" style="display: inline;">
            <option value="TRUE">True</option>
            <option value="FALSE">False</option>
        </select>

        <label for="key_2"> Key 2</label>
        <select name="key_2" id="key_2" style="display: inline;">
            <option value="TRUE">True</option>
            <option value="FALSE">False</option>
        </select>
        
        <input type="submit"/>
    </form>
    <div id ="keyTable">
      
    </div>
    <script src="/static/util.js"></script>
    <script src="/static/keys.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded',getAllKeys)
        document.forms['newKey'].addEventListener('submit',addKey)

    </script>
{% endblock %}