<!doctype html>
<html>
  <head>
  
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
     <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}</title>

  </head>
  <body class ="indigo lighten-2" style ="height:80vh; display: flexbox; overflow: hidden;">
    <div>
      <nav class=" purple darken-4 " >
        <div class=" nav-wrapper" style="display:inline;position: relative;">
          <a href="#!" class=" white-text brand-logo left" style="width:300px;">SAC Locker System</a>
          <div style="margin-left: 50vw; ">
            <a href="#name" style="padding-right:10px;"><span class="white-text name">User: John Doe</span></a>
            <a class="red darken-4 btn-small center-align" style="width: 150px;" href="/"><h7 style="padding-left:10px;" >Log Out</h7></a>
            <h5 href="#!" class="white-text right hide-on-med-and-down" style="padding-right:10px; width:30vw;">{% block page %}{% endblock %}</h5>
         
          </div>
           
        </div>
        
      </nav>
    </div>
    <div class="row" style="overflow: hidden; max-height: 90vh;">

      <div class="indigo lighten-2 col s2" style="height: 100vh; width: 15vw; margin-top: 40px;"> 
        <ul id="slide-out" class="side-nav " >
          
          <li style="padding: 5px; padding-left: 20px;"><a class="waves-effect black-text text-lighten-4" href="/locker" ><i class="material-icons">assignment</i><h7 style="padding-left:10px;" >Lockers</h7></a></li>
          <li style="padding: 5px; padding-left: 20px;"><a class="waves-effect black-text text-lighten-4" href="/area"><i class="material-icons">add_location</i><h7 style="padding-left:10px;" >Area</h7></a></li>
          <li style="padding: 5px; padding-left: 20px;"><a class="waves-effect black-text text-lighten-4" href="/rentType"><i class="material-icons">attach_money</i><h7 style="padding-left:10px;" >Pricing</h7></a></li>
          <li style="padding: 5px; padding-left: 20px;"><a class="waves-effect black-text text-lighten-4" href="/student"><i class="material-icons">person</i><h7 style="padding-left:10px;" ></h7>Student</a></li>
          <li><a class="waves-effect black-text text-lighten-4" href="/transactionLog" style="padding: 5px; padding-left: 20px;"><i class="material-icons">book</i><h7 style="padding-left:10px;" >Transaction Log</h7></a></li>
          <li><a class="waves-effect black-text text-lighten-4" href="/masterkey" style="padding: 5px; padding-left: 20px;"><i class="material-icons">book</i><h7 style="padding-left:10px;" >Master Key</h7></a></li>
          <li><a class="waves-effect black-text text-lighten-4" href="/key" style="padding: 5px; padding-left: 20px;"><i class="material-icons">book</i><h7 style="padding-left:10px;" >Key</h7></a></li>
          <li><a class="waves-effect black-text text-lighten-4" href="/export" style="padding: 5px; padding-left: 20px;"><i class="material-icons">book</i><h7 style="padding-left:10px;" >Export</h7></a></li>
          </ul>
             
      </div>
      

      {% with messages = get_flashed_messages() %}
      {% if messages %}
          {% for message in messages %}
            <body onload="M.toast({html:'{{message}}'})"></body>
          {% endfor %}
      {% endif %}
      {% endwith %}

   
      <div class=" deep-purple lighten-5 col s10" style="padding:10px; height: 90vh; width: 80vw; margin-left:30px; margin-top:10px; border-radius: 25px;overflow-y: hidden; overflow-x: hidden; display: flexbox;" > 
        {% block content %}{% endblock %}
      </div>

    </div>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/static/util.js"></script>
    <script src = "/static/keep_alive.js"></script>
    <script type="text/javascript">
      $(".button-collapse").sideNav();

      function displayMessage(message){
        M.toast({html:message})
      }

    </script>
    <style>
      .indentMenu {
        text-indent: 35px;
      }
    </style>
  </body>
</html>