<!doctype html>
<html>
  <head>
  
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
     <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}</title>

  </head>
  <body style ="overflow: hidden;">
    <nav class="purple ">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo center">{% block page %}{% endblock %}</a>
        <div class="nav-wrapper">
            
        </div>
      </div>
    </nav>
    <div class="row">

      <div class="grey col s2" style="height: 100vh; width: 15vw;" > 
        <ul class="side-nav" >
          <li> Lockers</li>
            <li class="indentMenu"><a href="/locker">Add Lockers</a></li>
            <li class="indentMenu"><a href="/locker/manage">Manage Lockers</a></li>
            <li class="indentMenu"><a href="/availpage">Check Available Lockers</a></li>
          <li> Area </li>
            <li class="indentMenu"><a href="/area">Manage Area</a></li>
          <li>Price</li>
            <li class="indentMenu"><a href="/rentType">Add New Pricing Scheme</a></li>
            <li class="indentMenu"><a href="/rentType/manage">Update Pricing Scheme</a></li>
          <li>Rent</li>
            <li class="indentMenu"><a href="/rentpage">Rent Locker</a></li>
            <li class="indentMenu"><a href="/releasepage">Release Locker</a></li>
          <li>Student</li>
            <li class="indentMenu"><a href="/student">Add New Student</a></li>
            <li class="indentMenu"><a href="/student/manage">Update Student</a></li>
          <li>Transaction Log</li>
          <li class="indentMenu"><a href="/transactionLog"> View transaction log</a></li>
        </ul>
      </div>

      <div class="white col s10" style="height: 100vh; width: 85vw; position: relative;" > 
        {% block content %}{% endblock %}
      </div>

    </div>
      
    
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <nav class="white black-text" style="padding: 10px">
      <div class="nav-wrapper">
          <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
      </div>
    </nav>
    {% endif %}
    {% endwith %}

   

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/static/util.js"></script>
    <script src = "/static/keep_alive.js"></script>
    <style>
      .indentMenu {
        text-indent: 35px;
      }
    </style>
  </body>
</html>
