<!doctype html>
<html>
  <head>
  
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
     <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}</title>

  </head>
  <body  class ="indigo lighten-2" style ="overflow: hidden; height:80vh; display: block;">
    <div>
      <nav class=" purple darken-4 ">
        <div class=" nav-wrapper" style="padding-right: 20px;">
          <a href="#!" class=" white-text brand-logo left" >SAC Locker System</a>
          <h5 href="#!" class="white-text right hide-on-med-and-down" style="border-left:100px;">{% block page %}{% endblock %}</h5>
          
        </div>
        
      </nav>
    </div>
    <div class="row">

      <div class="indigo lighten-2 col s2 " style="height: 100vh; width: 15vw; margin-top: 40px;"> 
        <ul id="slide-out" class="side-nav  " >
          
          <li style="padding: 5px; padding-left: 20px;"><a class="waves-effect black-text text-lighten-4" href="/locker" ><i class="material-icons">assignment</i><h7 style="padding-left:10px;" >Lockers</h7></a></li>
          <li style="padding: 5px; padding-left: 20px;"><a class="waves-effect black-text text-lighten-4" href="/area"><i class="material-icons">add_location</i><h7 style="padding-left:10px;" >Area</h7></a></li>
          <li style="padding: 5px; padding-left: 20px;"><a class="waves-effect black-text text-lighten-4" href="/rentType"><i class="material-icons">attach_money</i><h7 style="padding-left:10px;" >Pricing</h7></a></li>
          <li style="padding: 5px; padding-left: 20px;"><a class="waves-effect black-text text-lighten-4" href="/student"><i class="material-icons">person</i><h7 style="padding-left:10px;" ></h7>Student</a></li>
          <li style="padding: 5px;"><div class="divider"></div></li>
          <li style="padding: 5px;"><a class="subheader black-text text-lighten-4">Rent</a></li>
          <li style="padding: 5px; padding-left: 20px;"><a class="waves-effect black-text text-lighten-4" href="/rentpage"><i class="material-icons">trending_flat</i><h7 style="padding-left:10px;" >Rent Lockers</h7></a></li>
          <li style="padding: 5px; padding-left: 20px;"><a class="waves-effect black-text text-lighten-4" href="/releasepage"><i class="material-icons">keyboard_backspace</i><h7 style="padding-left:10px;" >Release Locker</h7></a></li>
          <li style="padding: 5px; padding-left: 20px;"><div class="divider"></div></li>
    
          <li><a class="waves-effect black-text text-lighten-4" href="/transactionLog" style="padding: 5px; padding-left: 20px;"><i class="material-icons">book</i><h7 style="padding-left:10px;" >Transaction Log</h7></a></li>
          <li style="padding-top: 420px; padding-left: 30px;"><a class="waves-effect black-text text-lighten-4" href="/"><i class="material-icons">exit_to_app</i><h7 style="padding-left:10px;" >Log Out</h7></a></li>
           </ul>
             
      </div>
      

      {% with messages = get_flashed_messages() %}
    {% if messages %}
    <nav class="white black-text" style="padding: 10px">
      <div class="nav-wrapper">
          <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
      </div>
    </nav>
    {% endif %}
    {% endwith %}

   
      <div class=" deep-purple lighten-5 col s10" style="height: 90vh; width: 80vw; margin-left:30px; margin-top:10px; border-radius: 25px;overflow-y: hidden; overflow-x: hidden;" > 
        {% block content %}{% endblock %}
      </div>

    </div>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/static/util.js"></script>
    <script src = "/static/keep_alive.js"></script>
    <script type="text/javascript">
      $(".button-collapse").sideNav();
    </script>
    <style>
      .indentMenu {
        text-indent: 35px;
      }
    </style>
  </body>
</html>