{% extends "layout.html" %}
{% block title %}Add Locker{% endblock %}
{% block page %}Add Locker{% endblock %}

{{ super() }}

{% block content %}
<div class="row">
   <div class="row">
    {% if updateMode %}
    <form id="AddArea" class="col s12 m8 offset-m2" method="POST" action="/locker/{{form.locker_code.data}}/update">
    {% else %}
     <form id="newLocker" class="col s12 m8 offset-m2" method="POST" action="/locker">
      {% endif %}
         {{ form.csrf_token }}

         <div class="input-field col s12 m8 offset-m2"> 
          <p>Locker Code</p>
          {{ form.locker_code(size=20, class="validate")}}
         </div>   

         <div class="input-field col s12 m8 offset-m2">
          <p>Locker Type</p>
          <select name="locker_type" style="display:inline;">
            <option value=”” disabled selected>Select a Locker Type</option>
            {% for subfield in form.locker_type %}
              {{subfield}}
            {% endfor %}
          </select>
         </div>

         <div class="input-field col s12 m8 offset-m2">
          <p>Status</p>
          <select name="status" style="display:inline;">
            <option value=”” disabled selected>Select a Status</option>
            {% for subfield in form.status %}
             {{subfield}}
            {% endfor %}
          </select>
         </div>

         <div class="input-field col s12 m8 offset-m2">
          <p>Key Status</p>
          <select name="key" style="display:inline;">
            <option value=”” disabled selected>Select a Key Status</option>
            {% for subfield in form.key %}
             {{subfield}}
            {% endfor %}
          </select>
          </div>

         <div class="input-field col s12 m8 offset-m2" style="display:inline;">
           {{form.submit}}
         </div> 

         <div class="input-field col s12 m8 offset-m2">
          <p> {{data}}</p>
        </div> 

     </form>
   </div>
</div>

{% endblock %}