{% extends "layout.html" %}
{% block title %}App Users{% endblock %}
{% block page %}App Users{% endblock %}

{{ super() }}

{% block content %}
<div class="row">
    <div class="row">
      <form id="AddArea" class="col s12 m8 offset-m2" method="POST" action="/area">
          {{ form.csrf_token }}
          <div class="input-field col s12 m8 offset-m2"> 
            <p>Locker Code</p>
              {{ form.l_code(size=20, class="validate") }}
             {{ form.locker_code(size=20, class="validate") }}
           </div>

           <div class="input-field col s12 m8 offset-m2"> 
            <p>Description</p>
             {{ form.description(size=20, class="validate") }}
           </div>    
           
           <div class="input-field col s12 m8 offset-m2"> 
            <p>Longitude</p>
             {{ form.longitude(size=20, class="validate") }}
           </div>   

           <div class="input-field col s12 m8 offset-m2"> 
            <p>Latitude</p>
             {{ form.latitude(size=20, class="validate") }}
           </div> 
           
           <div class="input-field col s12 m8 offset-m2" style="display:inline;">
            <a href="/locker" style="padding: 2rem;">Add Later</a> 
            {{form.submit}}
          </div> 
      </form>
    </div>

{% endblock %}