{% extends "layout.html" %}
{% block title %}Add Locker{% endblock %}
{% block page %}Add Locker{% endblock %}

{{ super() }}

{% block content %}
<div class="row">
   <div class="row">
     <form id="newLocker" class="col s12 m8 offset-m2" method="POST" action="/locker">
         {{ form.csrf_token }}

         <div class="input-field col s12 m8 offset-m2"> 
           {{ form.locker_code(size=20, class="validate") }}
           {{ form.locker_code.label }}
         </div>

         <div class="input-field col s12 m8 offset-m2">
           {{ form.area(size=50, class="validate") }}
           {{ form.area.label }}
         </div>

         <div class="input-field col s12 m8 offset-m2">
           {{ form.locker_type(size=20, class="validate") }}
           {{ form.locker_type.label }}
         </div>

         <div class="input-field col s12 m8 offset-m2">
           {{ form.status(size=20, class="validate") }}
           {{ form.status.label }}
         </div>

         <div class="input-field col s12 m8 offset-m2">
            {{ form.key_id(size=20, class="validate") }}
            {{ form.key_id.label }}
          </div>

         <div class="input-field col s12 m8 offset-m2">
           {{form.submit}}
         </div> 

     </form>
   </div>
</div>

   <script src="/static/lockers.js"></script>
{% endblock %}