{% extends "layout.html" %}
{% block title %}Add Locker{% endblock %}
{% block page %}Add Locker{% endblock %}

{{ super() }}

{% block content %}
<div class="row">
   <div class="row">
     <form id="newLocker" class="col s12 m8 offset-m2" method="POST" action="/locker">
         {{ form.csrf_token }}

         <div class="input-field col s12 m8 offset-m2"> 
          <p>Locker Code</p>
           {{ form.locker_code(size=20, class="validate") }}
           {{ form.locker_code.label }}
         </div>

         <div class="input-field col s12 m8 offset-m2">
          <p>Area</p>
          <select name="comp_select" style="display:inline;">
            {% for subfield in form.area %}
              <option value = '{{subfield}}'>{{subfield}}</option>
            {% endfor %}
          </select>
         </div>
         

         <div class="input-field col s12 m8 offset-m2">
          <p>Locker Type</p>
          <select name="comp_select" style="display:inline;">
            {% for subfield in form.locker_type %}
              <option value = '{{subfield}}'>{{subfield}}</option>
            {% endfor %}
          </select>
         </div>

         <div class="input-field col s12 m8 offset-m2">
          <p>Status</p>
          <select name="comp_select" style="display:inline;">
            {% for subfield in form.status %}
              <option value = '{{subfield}}'>{{subfield}}</option>
            {% endfor %}
          </select>
         </div>

         <div class="input-field col s12 m8 offset-m2">
            {{ form.key_id(size=20, class="validate") }}
            {{ form.key_id.label }}
          </div>

         <div class="input-field col s12 m8 offset-m2" style="display:inline;">
           {{form.submit}}
         </div> 

         <div class="input-field col s12 m8 offset-m2">
          <p> {{data}}</p>
        </div> 

     </form>
   </div>
</div>

   <script src="/static/lockers.js"></script>
{% endblock %}