{% extends "layout.html" %}
{% block title %}Error Log{% endblock %}
{% block page %}Error Log{% endblock %}

{{ super() }}

{% block content %}
   <table>
    <tr>
        <th>ID</th>
        <th>Message</th>
        <th>Time Stamp </th>

    </tr>
    {% if log %}
    {% for l in log %}
        <tr>
            <td>{{l.id}}</td>
            <td>{{l.message}}</td>
            <td>{{l.timestamp}}</td>

        </tr>
    {% endfor %}
    {% else %}
        <td> No logs </td>
    {% endif %}
   </table>
{% endblock %}