{% extends "layout.html" %}
{% block title %}Manage Students {% endblock %}
{% block page %}Manage Students {% endblock %}

{{ super() }}

{% block content %}
<div class="row">
      <div class="row">
        <table class="col s12 m8 offset-m2">
        <tr>
            <th>StudentID</th>
            <th>First Name </th>
            <th>Last Name </th>
            <th>Faculty</th>
            <th>Phone no.</th>
            <th>Email </th>
            <th>Standing</th>
        </tr>

        {% if studentData %}
        {% for s in studentData %}
        <tr>
            <td>{{s.student_id}}</td>
            <td>{{s.first_name}}</td>
            <td>{{s.last_name}}</td>
            <td>{{s.faculty}} </td>
            <td>{{s.phone_number}} </td>
            <td>{{s.email}}</td>
            <td>{{s.rentStanding}}</td>
            <td><a href="/student/{{s.student_id}}/edit">Edit</a></td>
        </tr>
            
        {% endfor %}
        {% endif %}
      </table>

      </div>

{% endblock %}