{% extends "layout.html" %}
{% block title %}Manage Lockers {% endblock %}
{% block page %}Manage Lockers{% endblock %}

{{ super() }}

{% block content %}
<div class="row">
      <div class="row">
            <div class="col s12 m8 offset-m7">
              <form action="/locker/search" id="search_form">
                <div class="input-field col s12 m5 offset-m1">
                 <div class = "search-wrapper">
                  <input type="search" name="search_query" placeholder="Enter search query" required/>
                  <i class="material-icons white-text" style="color:#4a148c; top:1vh; " id="submit_search">search</i>
                 </div>
                </div>
              </form>
            </div>
          </div>
        <div class="col s12 m10 offset-m1" style="height:80vh;">
          <table>
            <tr>
                <th id="submit_button_place"> </th>
                <th>Locker Code</th>
                <th>Locker Type </th>
                <th>Status</th>
                <th>Key Status</th>
                <th>Area ID</th>
            </tr>
    
            {% if lockerData %}
            {% for l in lockerData %}
            <tr class="purple darken-4 white-text">
                <td><label class = "col s2 center-align">
                <input type="checkbox" name = "check" class="swapbox" value="{{l.locker_code}}">
                <Span></Span>
                </label></td>
                <td><a href="/locker/{{l.locker_code}}">{{l.locker_code}}</a></td>
                <td>{{l.locker_type}}</td>
                <td>{{l.status}}</td>
                <td><a href="/key/{{l.key}}">{{l.key}}</a></td>
                <td><a href="/area/{{l.area}}">{{l.area_description}}</a></td>
                <div style=" position: relative;display: inline-flex;">
                <td>
                    <a class="dropdown-trigger btn-floating purple darken-4 waves-effect" data-target="{{l.locker_code}}_dropdown1"><i class="large material-icons">list</i></a>
                    <ul id='{{l.locker_code}}_dropdown1' class='dropdown-content purple darken-4 white-text'>
                      {% if l.status == "Free" %}
                      <li><a href="/locker/rent/{{l.locker_code}}/student" class="white-text"><i class="material-icons left white-text">check</i>Rent</a></li>
                      {% elif l.status == "Rented" %}
                      <li><a href="#" onclick="loadComments({{l.current_rental.id}},1)" class="white-text"><i class="material-icons left white-text">check</i>Note</a></li>
                      <li><a href="#" onclick="releaseMode({{l.current_rental}})" class="white-text"><i class="material-icons left white-text">close</i>Release</a></li>
                      {% elif l.status == "Not Verified" %}
                      <li><a href="#" onclick="loadComments({{l.current_rental.id}},1)" class="white-text"><i class="material-icons left white-text">check</i>Note</a></li>
                      <li><a href="/rent/{{l.current_rental.id}}/release/verify" class="white-text"><i class="material-icons left white-text">verified_user</i>Verify</a></li>
                      {% endif %}
                      <li><a href="#edit" onclick="editMode({{l}})" class="white-text"><i class="material-icons left white-text">edit</i>Edit</a></li>
                      <li><a href="#delete" onclick="removeMode({{l}})" class="white-text"><i class="material-icons left white-text">delete</i>Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </div>
            </tr>
                
            {% endfor %}
            {% endif %}
          </table>
        </div>
      <div id="pag" class="col s12 center-align">
        <ul class="pagination">

          {% if query %}
          {% if current_page == 1  %}
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            {% else %}
            <li><a href="/locker/search/page/{{previous}}/?search_query={{query}}" id="previousPage"><i class="material-icons white-text">chevron_left</i></a></li>
            {% endif %}
            <li class="active purple darken-4">{{current_page}}</li>
            {% if current_page == num_pages %}
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            {% else %}
            <li><a href="/locker/search/page/{{next}}/?search_query={{query}}" id="nextPage"><i class="material-icons white-text">chevron_right</i></a></li>
            {% endif %}
        {% else %}
        {% if current_page == 1  %}
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        {% else %}
        <li><a href="/locker/page/{{previous}}" id="previousPage"><i class="material-icons white-text">chevron_left</i></a></li>
        {% endif %}

        <li class="active purple darken-4"><a href="#">{{current_page}}</a></li>
       
        {% if current_page == num_pages %}
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        {% else %}
        <li><a href="/locker/page/{{next}}" id="nextPage"><i class="material-icons white-text">chevron_right</i></a></li>
        {% endif %}
      {% endif %}

      </ul>
    </div>
        <div class="fixed-action-btn">
         <a class="btn-floating btn-large waves-effect waves-light purple darken-4 modal-trigger"  href="#new_locker"><i class="material-icons">add </i></a>
        </div>
      </div>

      <div class="row">

        <div class ="modal grey darken-3 white-text" id="new_locker">
          <div class ="modal-content" id="content">
            <h6 style="font-weight: bold;"> Add Locker </h6>
            <form id="newLocker" class="col s12 m12 white-text" method="POST" action="/locker" autocomplete="off">
                 {{ form.csrf_token }}
                 <div class="input-field col s12 m12">  
                  <div class="col s6">
                    <p>Locker Code</p>
                  {{ form.locker_code(size=20, class="validate white-text")}}
                  </div>  
                  <div class="col s6">
                    <p>Locker Type</p>
                    <select id="locker_type" name="locker_type" style="display:inline;" required>
                      <option value=”” disabled selected>Select a Locker Type</option>
                      {% for subfield in form.locker_type %}
                        {{subfield}}
                      {% endfor %}
                    </select>
                  </div> 
                 </div>   
        
                 <div class="input-field col s12 m12">
                  <div class="col s6">
                  <p>Status</p>
                  <select id="stats" name="status" style="display:inline;" required>
                    <option value=”” disabled selected>Select a Status</option>
                    {% for subfield in form.status %}
                     {{subfield}}
                    {% endfor %}
                  </select>
                  </div>  
                  <div class="col s6">
                    <p>Key</p>
                    {{ form.key(size=18, class="validate white-text")}}
                  </div>
                </div>

                  <div class="col s12 m12">
                    <p>Area</p>
                  <select id="area" name="area" style="display:inline;" required>
                    <option value=”” disabled selected>Select a Area Status</option>
                    {% for subfield in form.area %}
                     {{subfield}}
                    {% endfor %}
                  </select>
                </div>  
              
          </div> 
          <div class="modal-footer grey darken-3">
            <div class="input-field col s8 m8 offset-m4" style="display:inline;">

             <div class="col s4 offset-s4">
                <a class="red darken-4 white-text right modal-close waves-light btn">Cancel</a>
             </div>

             <div class="col s4">
               {{form.submit(class=" right purple darken-4 waves-light btn")}}
             </div>
             
           
            </div>       
        </form>
        </div>    
        </div>

        <div class="modal grey darken-3 white-text" id="delete_locker" >
          <div class="modal-content">
            <h6 style="font-weight: bold;">Delete Locker </h6>
            <form id="deleteLocker" class="col s12 m12" method="POST">
            {{ delete.csrf_token }}
            <div class="input-field col s12 m12"> 
              <h5 id="deleteTitle"></h5>
            </div>
          </div>
          <div class="modal-footer grey darken-3">
            <div class="input-field col s8 m8 offset-m4" style="display:inline;">

             <div class="col s4 offset-s4">
                <a class="red darken-4 white-text right modal-close waves-light btn">Cancel</a>
             </div>

             <div class="col s4">
               {{delete.submit(class=" right purple darken-4 waves-light btn")}}
             </div>
          
            </div>       
        </form>
        </div>
        
      </div>

      
      <div class="modal grey darken-3 white-text" id="edit_locker" >
        <div class="modal-content" id="content">
          <h6 style="font-weight: bold;"> Edit Locker </h6>
          <form id="editLocker" class="col s12 m12 white-text" method="POST" action="/locker" autocomplete="off">
            {{ form.csrf_token }}
               <div class="input-field col s12 m12">  
                <div class="col s6">
                  <p>Locker Code</p>
                {{ form.locker_code(size=20, class="validate white-text",id="u_locker_code")}}
                </div>  
                <div class="col s6">
                  <p>Locker Type</p>
                  <select id="u_locker_type" name="locker_type" style="display:inline;">
                    <option value=”” disabled selected>Select a Locker Type</option>
                    {% for subfield in form.locker_type %}
                      {{subfield}}
                    {% endfor %}
                  </select>
                </div> 
               </div>   
      
               <div class="input-field col s12 m12">
                <div class="col s6">
                <p>Status</p>
                <select id="u_stats" name="status" style="display:inline;">
                  <option value=”” disabled selected>Select a Status</option>
                  {% for subfield in form.status %}
                   {{subfield}}
                  {% endfor %}
                </select>
                </div>  
                
                <div class="col s6">
                  <p>Key</p>
                  {{ form.key(size=20, class="validate white-text",id="u_l_key")}}
                </div>
            </div>
              <div class="col s12 m12">
                <p>Area</p>
              <select id="u_area" name="area" style="display:inline;">
                <option value=”” disabled selected>Select a Area Status</option>
                {% for subfield in form.area %}
                  {{subfield}}
                {% endfor %}
              </select>
            </div>  
          </div>

            <div class="modal-footer grey darken-3">
              <div class="input-field col s8 m8 offset-m4" style="display:inline;">

               <div class="col s4 offset-s4">
                  <a class="red darken-4 white-text right modal-close waves-light btn">Cancel</a>
               </div>

               <div class="col s4">
                 {{form.submit(class=" right purple darken-4 waves-light btn",id="u_submit")}}
               </div>
               
             
              </div>       
          </form>
          </div>
      </div>

      <div class="modal grey darken-3 white-text" id="comment_modal">
        <div class="modal-content">
          <div class="card grey darken-3 white-text">
            <div class="card-content grey darken-3 white-text">
              <h6>New Comment</h6>
              <form action="" id="new_comment_form" method="POST" autocomplete="off">
                <input class="input-field s10 m10 white-text" type="text" id="comment" name="comment">
                <input type="submit" value="Comment" class="purple darken-4 waves-light btn">
              </form>
            </div>
          </div>
          
          <div class="grey darken-3 white-text" id ="notes_content">
              
          </div>
        </div>
        <div class="modal-footer grey darken-3 white-text"  id="notes_foot">

        </div>
      </div>
      <div class ="modal grey darken-3 white-text" id="new_transaction" >
        <div class="modal-content">
          <h6 style="font-weight: bold;">New Transaction </h6>
          <form id="newTransaction" class="col s12 m12 white-text" method="POST" action="" >
    
            {{ form.csrf_token }}
        
            <div class="input-field col s12 m12">
            <div class="col s4">
               <p> RentID </p>
            {{trans.rent_id(size=18, class="validate white-text",id="t_rent_id")}}
            </div>
           
            <div class="col s4">
              <p> Currency </p>
              {{trans.currency(size=18, class="validate white-text")}}
            </div>
            <div class="col s4">
              <p> Amount </p>
             {{trans.amount(size=18, class="validate white-text", id="t_amount")}}
            </div>
           </div>
            
            <div class="input-field col s12 m12">
              <div class="col s6">
                 <p> Transaction Date </p>
            {{trans.transaction_date(size=18, class="validate white-text")}}
              </div>
              <div class="col s6">
                 <p> Description </p>
                {{trans.description(size=18, class="validate white-text")}}
              </div>
          
            </div> 
        
            <div class="input-field col s12 m12" style="display:inline;">
            <div class="col s6">
                <p> Transaction Type </p>
            <select name="t_type" style="display:inline;">
                <option value=”” disabled selected>Select Transaction Type</option>
                {% for subfield in trans.t_type %}
                 {{subfield}}
                {% endfor %}
              </select>
            </div>
            <div class="col s6">
              <p> Receipt Number </p>
              {{trans.receipt_number(size=18, class="validate white-text")}}
            </div>
          </div>
        </div>
       <div class="modal-footer grey darken-3">
        <div class="input-field col s6 m8 offset-m4" style="display:inline;">
          <div class="col s4 offset-s4">
            <a class="red darken-4 white-text right modal-close waves-light btn">Cancel</a>
          </div>
          <div class="col s4">
            {{trans.submit(class=" right purple darken-4 waves-light btn")}}
          </div>
        </div>       
    </form>
     </div>
</div>
<div class ="modal grey darken-3 white-text" id="swap_key">
  <div class ="modal-content" id="content">
    <h6>Swap Key</h6>
    <form id="swapKey_form" class="col s12 m12" method="POST">
      <div class="input-field col s8 m8 offset-m2">
        <p id="info"> </p>
      </div>                  
    
      <div class="modal-footer grey darken-3">
        <div class="input-field col s8 m8 offset-m4" style="display:inline;">

         <div class="col s4 offset-s4">
            <a class="red darken-4 white-text right modal-close waves-light btn">Cancel</a>
         </div>

         <div class="col s4">
           {{form.submit(class=" right purple darken-4 waves-light btn", value="Swap")}}
         </div>
         
       
        </div>       
    </form>
    </div>
    </div>
  </div>
  </div>
  </div>

 <script src="/static/autocomplete.js"></script>  
 
 <script>
  autocomplete(document.getElementById('key'),{{keys | safe}})
  autocomplete(document.getElementById('u_l_key'),{{keys | safe}})

  var num_pages_notes  = 0
  var current_page = 0
  var previousElem = document.getElementById("previousPage")
  var nextElem  = document.getElementById("nextPage")
  var previousBaseURL;
  var nextBaseURL;
  if (previousElem)
    previousBaseURL = previousElem.href
  if (nextElem)
    nextBaseURL = nextElem.href

  var form = document.getElementById('new_comment_form')
  form.addEventListener('submit', (e)=>{
    e.preventDefault()
    text = form.elements[0].value
    data = {
      'comment':text
    }
    fetch(form.action,{
      method:'POST',
      body:JSON.stringify(data),
      headers: {
        "Content-type": "application/json; charset=UTF-8"
      }}).then((response) => response.json())
      .then(data =>{
        console.log(data)
        elem = document.getElementById('comment_modal');
        instance = M.Modal.getInstance(elem)
        instance.close()
        loadComments(data[0]['rent_id'],1)
      })
  })


  function loadComments(id,num){
    fetch(window.origin+'/rent/'+id+'/notes').then((response) => response.json())
    .then(data => {
        notes = document.getElementById('notes_content')
        form = document.getElementById('new_comment_form')
        footer = document.getElementById('notes_foot')
        form.action = window.origin+'/rent/'+id+'/notes'
        if (data['data'].length == 0){
          notes.innerHTML = `<div class="card small grey darken-3 white-text" style="height: 10vh;">
                  <div class="card-content">
                    <div class="col s6">
                    <p> No comments on this rental </p>
                   </div>
                  </div>
                </div>`
        }
        else{
          results = ``
            for (d in data['data']){
                results += `
                <div class="card small grey darken-3 white-text" style="height: 10vh;">
                  <div class="card-content">
                    <div class="col s6">
                    <p> ${data['data'][d].comment} </p>
                   </div>
                   <div class="col s6 ">
                    <p> Created on :${data['data'][d].date_created} </p>
                    </div>
                  </div>
                </div>
                `
            } 
               notes.innerHTML = results
        }
        num_pages_notes = data['num_pages']
        current_page = 1

        if(num_pages_notes <= 1){
          pagination = `
          <div class="col s6 push-s1">
          <ul class="pagination">
          <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
          <li class="waves-effect purple darken-4"><a href="#" style="color:white;">${current_page}</a></li>
          <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
          </ul>
          </div>
          `  
        }
        else{
          pagination = `
          <div class="col s6 push-s1">
          <ul class="pagination">
          <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
          <li class="waves-effect purple darken-4"><a href="#" style="color:white;">${current_page}</a></li>
          <li><a href="#!" onclick="iterateNotes(${id},1)"><i class="material-icons">chevron_right</i></a></li>
          </ul>
          </div>
          `
        }
        footer.innerHTML = pagination
        
        elem = document.getElementById('comment_modal');
        instance = M.Modal.getInstance(elem)
        instance.open()
    })
  }

  function iterateNotes(id,number){
    footer = document.getElementById('notes_foot')
    if (current_page + number <= num_pages_notes && current_page + num_pages_notes > 0){
        current_page = current_page + number
    }

    if (current_page === 1){
      pagination = `
          <div class="col s6 push-s1">
          <ul class="pagination">
          <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
          <li class="waves-effect purple darken-4"><a href="#" style="color:white;">${current_page}</a></li>
          <li><a href="#!" onclick="iterateNotes(${id},1)"><i class="material-icons">chevron_right</i></a></li>
          </ul>
          </div>
          `
    }

    else if(current_page == num_pages_notes){
      pagination = `
          <div class="col s6 push-s1">
          <ul class="pagination">
          <li><a href="#!" onclick="iterateNotes(${id},-1)"><i class="material-icons">chevron_left</i></a></li>
          <li class="waves-effect purple darken-4"><a href="#" style="color:white;">${current_page}</a></li>
          <li class="disabled"><a href="#!")"><i class="material-icons">chevron_right</i></a></li>
          </ul>
          </div>
          `
    }
    else{
       pagination = `
          <div class="col s6 push-s1">
          <ul class="pagination">
          <li><a href="#!" onclick="iterateNotes(${id},-1)"><i class="material-icons">chevron_left</i></a></li>
          <li class="waves-effect purple darken-4"><a href="#" style="color:white;">${current_page}</a></li>
          <li><a href="#!"  onclick="iterateNotes(${id},1)"><i class="material-icons">chevron_right</i></a></li>
          </ul>
          </div>
          `
    }
    footer.innerHTML = pagination
    
    notes = document.getElementById('notes_content')
    
    fetch(window.origin+'/rent/'+id+'/notes/'+current_page).then((response) => response.json())
    .then(data => {
      results = ``
            for (d in data['data']){
                results += `
                <div class="card small" style="height: 10vh;">
                  <div class="card-content">
                    <div class="col s6">
                    <p> Created on :${data['data'][d].date_created} </p>
                    <p> ${data['data'][d].comment} </p>
                   </div>
                  </div>
                </div>
                `
            } 
            notes.innerHTML = results
    })
  }

  function editMode(locker){
   form = document.getElementById('editLocker')
   form.action = "/locker/"+locker.locker_code+"/update"

   id =  document.getElementById('u_locker_code')
   id.value = locker.locker_code
  
   type = document.getElementById('u_locker_type')
   key = document.getElementById('u_l_key')
   key.value = locker.key
  
   stats = document.getElementById('u_stats')
   area = document.getElementById('u_area')
   button = document.getElementById('u_submit')


   button.value = "Update Locker"

   for (i = 0; i < 4; i++){
      if(type.options[i].value === locker.locker_type){
        type.selectedIndex = i
      }
  
   }
  
   for(i =0; i < area.options.length;i++){
    console.log(area.options[i].value)
    if(area.options[i].value == locker.area){
        area.selectedIndex = i
      }
   }

   for (i = 0; i < 3; i++){
      if(stats.options[i].value === locker.status){
        stats.selectedIndex = i
      } 

   }
   elem = document.getElementById('edit_locker');
   instance = M.Modal.getInstance(elem)
   instance.open()
  }

  function removeMode(locker){

    form = document.getElementById('deleteLocker')
    title = document.getElementById('deleteTitle')
    title.innerHTML = "Are you sure you want to delete "+locker.locker_code+"! This action cannot be undone"
    form.action = "/locker/"+locker.locker_code+"/confirmed"

   elem = document.getElementById('delete_locker');
   instance = M.Modal.getInstance(elem)
   instance.open()
  }



  function releaseMode(rent){

    if (rent.amount_owed != 0){
      rent_id = document.getElementById('t_rent_id')
      amount = document.getElementById('t_amount')
      form = document.getElementById("newTransaction")

      form.action = "/locker/" +rent.locker_id+"/transaction"
      rent_id.value = rent.id
      amount.value = rent.amount_owed

      elem = document.getElementById('new_transaction');
      instance = M.Modal.getInstance(elem)
      instance.open()
    }
    else{
      window.location.href = "/rent/"+rent.id+"/release";
    }
    
  }

  function OpenswapKey(locker_id){
    form = document.getElementById("swapKey_form")
    form.innerHTML += '<input type="hidden" name="locker_code2" value= ' + arr[1] + '>'  
    form.action = "/locker/" + arr[0] + "/key/swap"
    elem = document.getElementById('swap_key');
    modalElem = document.getElementById('info');
    modalElem.innerHTML = "Are you sure you want to swap " + arr[0] + " with " + arr[1]
    instance = M.Modal.getInstance(elem)
    instance.open()
  }


  var arr = []
  function addToList(locker_code, checkbox){
    if (arr.length < 2){
      arr.push(locker_code)
      try {
        previousElem.href = previousBaseURL + "?locker1="+arr[0]
      }catch (error){
        
      }
      try {
        nextElem.href = nextBaseURL + "?locker1="+arr[0]
      }catch (error) {
        
      }
    if (arr.length === 2){
      var button_place = document.getElementById("submit_button_place")
      button_place.innerHTML = 
          `<a href ="#" onclick = "OpenswapKey()" class="purple darken-4 waves-light btn">Swap Key</a>`
          try {
            previousElem.href = previousBaseURL + "?locker1=" +arr[0] + "&locker2="+arr[1]
            nextElem.href = nextBaseURL + "?locker1=" +arr[0] + "&locker2="+arr[1]
          } catch (error){
            
          }
    }
    }
    else{
    checkbox.checked = false
    displayMessage("Only two lockers can be selected")
    }
}

function removefromList(locker_code){
    if (arr[0] == locker_code){
    arr.shift()
    }
    else if (arr[1] == locker_code){
        arr.pop()
  }
    if (arr.length === 1){
      var button_place = document.getElementById("submit_button_place")
      button_place.innerHTML = ``
    }
}
check = document.getElementsByClassName("swapbox")
for(let i=0; i<check.length; i++){
    check[i].addEventListener("change",e=>{
  if(e.target.checked)
    addToList(e.target.value, e.target)
  else
    removefromList(e.target.value)
    console.log(arr)
    })
}
</script>

{% endblock %}