{% extends "layout.html" %}
{% block title %}Manage Lockers {% endblock %}
{% block page %}Manage Lockers{% endblock %}

{{ super() }}

{% block content %}
<div class="row">
      <div class="row">
        
          {% if searchMode %}
          <div class="col s12 m8 offset-m2" style="padding-top: 0.5rem;">
            <a class="red darken-4 white-text waves-effect waves-light btn" href="/locker">Go Back</a>
          </div>
          
          {% else %}
            <div class="col s12 m8 offset-m7">
              <form action="/locker/search">
                <div class="input-field col s12 m4 offset-m1">
                 <div class = "row">
                  <input type="search" name="search_query" placeholder="Enter search query" required/>
                 </div>
                </div>

                <div class="input-field col s2 m2" style="display:inline; padding-left: 0px;" >
                  <button type="submit" style="padding: 9px 21.5px 37px 21.5px" class="purple darken-4 waves-effect waves-light btn-small"><i class="material-icons" style="padding: 5px; font-size: 2rem; color:white; ">search</i></button>
                </div>
              </form>
            </div>
          </div>
          {% endif %}  
        <div class="col s12 m10 offset-m1" style="height:60vh;">
          <table  >
            <tr>
                <th>Locker Code</th>
                <th>Locker Type </th>
                <th>Status</th>
                <th>Key Status</th>
                <th>Area ID</th>
            </tr>
    
            {% if lockerData %}
            {% for l in lockerData %}
            <tr>
                <td><a href="/locker/{{l.locker_code}}">{{l.locker_code}}</a></td>
                <td>{{l.locker_type}}</td>
                <td>{{l.status}}</td>
                <td>{{l.key}} </td>
                <td><a href="/area/{{l.area}}">{{l.area_description}}</a></td>
                <div style=" position: relative;display: inline-flex;">
                  {% if l.status == "Free"%}
                  <td style="width:120px;"><a href="/locker/rent/{{l.locker_code}}/student" class="purple darken-4 waves-effect waves-light btn-small"><i class="material-icons left">check</i>Rent</a></td>
                  {% elif l.status == "Rented"%}
                  <td style="width:120px;"><a href="#" onclick="releaseMode({{l.current_rental}})" class="purple darken-4 waves-effect waves-light btn-small"><i class="material-icons left">close</i>Release</a></td>
                  {% elif l.status == "Not Verified" %}
                  <td style="width:120px;"><a href="/rent/{{l.current_rental.id}}/release/verify" class="purple darken-4 waves-effect waves-light btn-small"><i class="material-icons left">verified_user</i>Verify</a></td>
                  {% endif %}
                  
                  <td style="width:120px;"><a href="#edit" onclick="editMode({{l}})" class="purple darken-4 waves-effect waves-light btn-small"><i class="material-icons left">edit</i>Edit</a></td>
                  <td style="width:120px;"><a href="#delete" onclick="removeMode({{l}})" class="purple darken-4 waves-effect waves-light btn-small"><i class="material-icons left">delete</i>Delete</a></td>
                </div>
            </tr>
                
            {% endfor %}
            {% endif %}
          </table>
        </div>
      <div class="col m5 offset-m5">
        <ul class="pagination">

        {% if current_page == 1  %}
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        {% else %}
        <li><a href="#/page{{previous}}"><i class="material-icons">chevron_left</i></a></li>
        {% endif %}

        {% for n in range(1,num_pages + 1) %}
        
        
        {% if n == current_page %}
        {% if query %}
        <li class="active purple darken-4"><a href="/locker/search/page/{{n}}/?search_query={{query}}" style="color:white;">{{n}}</a></li>
        {% else %}
        <li class="waves effect purple darken-4"><a href="/locker/page/{{n}}" style="color:white;">{{n}}</a></li>
        {% endif %}
        {% else %}
        {% if query %}
        <li class="waves-effect purple darken-4"><a href="/locker/search/page/{{n}}/?search_query={{query}}" style="color:white;">{{n}}</a></li>
        {% else %}
        <li class="waves-effect purple darken-4"><a href="/locker/page/{{n}}" style="color:white;">{{n}}</a></li>
        {% endif %}
        {% endif %}
        {% endfor %}

        {% if current_page == num_pages %}
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        {% else %}
        <li><a href="#/page{{next}}"><i class="material-icons">chevron_right</i></a></li>
        {% endif %}
      </ul>
      </div>
      <div class="col s1 m1 offset-m11" >
        <div class="floating-action-btn" style="position: absolute; bottom: 8vh;">
         <a class="btn-floating btn-large waves-effect waves-light purple darken-4 modal-trigger"  href="#new_locker"><i class="material-icons">add </i></a>
       </div>
     </div>
      </div>

      <div class="row">

        <div class ="modal" id="new_locker" style="max-height: 100%;border-radius: 25px; height: 65vh;">
          <div class ="modal-content" id="content">
            <h6 style="font-weight: bold;"> Add Locker </h6>
            <form id="newLocker" class="col s12 m12" method="POST" action="/locker" style="padding: 10px; border-color: black;border: 2px; border-style: solid;">
                 {{ form.csrf_token }}
                 <div class="input-field col s12 m12">  
                  <div class="col s6">
                    <p>Locker Code</p>
                  {{ form.locker_code(size=20, class="validate")}}
                  </div>  
                  <div class="col s6">
                    <p>Locker Type</p>
                    <select id="locker_type" name="locker_type" style="display:inline;">
                      <option value=”” disabled selected>Select a Locker Type</option>
                      {% for subfield in form.locker_type %}
                        {{subfield}}
                      {% endfor %}
                    </select>
                  </div> 
                 </div>   
        
                 <div class="input-field col s12 m12">
                  <div class="col s6">
                  <p>Status</p>
                  <select id="stats" name="status" style="display:inline;">
                    <option value=”” disabled selected>Select a Status</option>
                    {% for subfield in form.status %}
                     {{subfield}}
                    {% endfor %}
                  </select>
                  </div>  
                  
                  <div class="col s6">
                    <p>Key</p>
                    {{ form.key(size=20, class="validate")}}
                  </div>

                  <div class="col s12 m12">
                    <p>Area</p>
                  <select id="area" name="area" style="display:inline;">
                    <option value=”” disabled selected>Select a Area Status</option>
                    {% for subfield in form.area %}
                     {{subfield}}
                    {% endfor %}
                  </select>
                </div>  
              </div>
                 <div class="input-field col s8 m8 offset-m4" style="display:inline;">
                   {{form.submit(class=" right purple darken-4 waves-light btn")}}
                   <a class="red darken-4 white-text right modal-close waves-light btn">Cancel</a>
                 </div>       
             </form>
          </div>     
        </div>

        <div class="modal" id="delete_locker" style="max-height: 100%;border-radius: 25px; height: 35vh;">
          <div class="modal-content">
            <h6 style="font-weight: bold;">Delete Locker </h6>
            <form id="deleteLocker" class="col s12 m12" method="POST" style="padding: 10px; border-color: black;border: 2px; border-style: solid;">
            {{ delete.csrf_token }}
            <div class="input-field col s12 m12"> 
              <h5 id="deleteTitle"></h5>
            </div>
          
          <div class="input-field col s8 m8 offset-m4" style="display:inline;">
            {{delete.submit(class="right purple darken-4 waves-light btn")}}
            <a class="red darken-4 white-text right modal-close waves-light btn">Cancel</a>          </div>
          </form>
        </div>
      </div>

      
      <div class="modal" id="edit_locker" style="max-height: 100%;border-radius: 25px; height: 65vh; overflow: hidden;">
        <div class="modal-content" id="content">
          <h6 style="font-weight: bold;"> Edit Locker </h6>
          <form id="editLocker" class="col s12 m12" method="POST" action="/locker" style="padding: 10px; border-color: black;border: 2px; border-style: solid;" >
            {{ form.csrf_token }}
               <div class="input-field col s12 m12">  
                <div class="col s6">
                  <p>Locker Code</p>
                {{ form.locker_code(size=20, class="validate",id="u_locker_code")}}
                </div>  
                <div class="col s6">
                  <p>Locker Type</p>
                  <select id="u_locker_type" name="locker_type" style="display:inline;">
                    <option value=”” disabled selected>Select a Locker Type</option>
                    {% for subfield in form.locker_type %}
                      {{subfield}}
                    {% endfor %}
                  </select>
                </div> 
               </div>   
      
               <div class="input-field col s12 m12">
                <div class="col s6">
                <p>Status</p>
                <select id="u_stats" name="status" style="display:inline;">
                  <option value=”” disabled selected>Select a Status</option>
                  {% for subfield in form.status %}
                   {{subfield}}
                  {% endfor %}
                </select>
                </div>  
                
                <div class="col s6">
                  <p>Key Status</p>
                  {{ form.key(size=20, class="validate",id="u_l_key")}}
                </div>

                <div class="col s12 m12">
                  <p>Area</p>
                <select id="u_area" name="area" style="display:inline;">
                  <option value=”” disabled selected>Select a Area Status</option>
                  {% for subfield in form.area %}
                   {{subfield}}
                  {% endfor %}
                </select>
              </div>  
            </div>

            <div class="modal-footer col s8 m8 offset-m4" style="display:inline;">
              {{form.submit(id="u_submit",class="right purple darken-4 waves-light btn")}}
              <a class="modal-close red darken-4 white-text right waves-light btn">Cancel</a>
            </div> 
                     
           </form>
        </div>     
      </div>

      <div class ="modal" id="new_transaction" style="max-height: 100%;border-radius: 25px; height: 65vh;">
        <div class="modal-content">
          <h6 style="font-weight: bold;">New Transaction </h6>
          <form id="newTransaction" class="col s12 m12" method="POST" action="" style="padding: 10px; border-color: black;border: 2px; border-style: solid;" >
    
            {{ form.csrf_token }}
        
            <div class="input-field col s12 m4">
            <p> RentID </p>
            {{trans.rent_id(size=18, class="validate",id="t_rent_id")}}
            </div>
            
            <div class="input-field col s12 m2 offset-m1">
            <p> Currency </p>
            {{trans.currency(size=18, class="validate")}}
            </div> 
            
            <div class="input-field col s12 m4 offset-m1">
            <p> Amount </p>
            {{trans.amount(size=18, class="validate", id="t_amount")}}
            </div>
        
            <div class="input-field col s12 m4">
            <p> Transaction Date </p>
            {{trans.transaction_date(size=18, class="validate")}}
            </div>
        
        
            <div class="input-field col s12 m8"> 
            <p> Description </p>
            {{trans.description(size=18, class="validate")}}
            </div>
        
            <div class="input-field col s12 m4" style="display:inline;">
            <p> Transaction Type </p>
            <select name="t_type" style="display:inline;">
                <option value=”” disabled selected>Select Transaction Type</option>
                {% for subfield in trans.t_type %}
                 {{subfield}}
                {% endfor %}
              </select>
            </div>
        
            <div class="input-field col s12 m4">
              <p> Receipt Number </p>
              {{trans.receipt_number(size=18, class="validate")}}
              </div>
        
              <div class="input-field col s8 m8 offset-m4" style="display:inline;">
                {{trans.submit(id="t_submit",class="purple darken-4 waves-light btn")}}
              <a class="red darken-4 white-text right modal-close waves-light btn">Cancel</a>
              </div> 
                
            </form> 
      </div>
      </div>
    </div>
  </div>
  </div>

   
 <script>
  document.addEventListener('DOMContentLoaded', function() {
  var elems = document.querySelectorAll('.modal');
  var instances = M.Modal.init(elems);
  });

  function iteratePage(number){
    window.location = window.location +'/page/'+number
  }

  function editMode(locker){
   form = document.getElementById('editLocker')
   form.action = "/locker/"+locker.locker_code+"/update"

   id =  document.getElementById('u_locker_code')
   id.value = locker.locker_code
  
   type = document.getElementById('u_locker_type')
   key = document.getElementById('u_l_key')
   key.value = locker.key
  
   stats = document.getElementById('u_stats')
   area = document.getElementById('u_area')
   button = document.getElementById('u_submit')


   button.value = "Update Locker"

   for (i = 0; i < 4; i++){
      if(type.options[i].value === locker.locker_type){
        type.selectedIndex = i
      }
  
   }
  
   for(i =0; i < area.options.length;i++){
    console.log(area.options[i].value)
    if(area.options[i].value == locker.area){
        area.selectedIndex = i
      }
   }

   for (i = 0; i < 3; i++){
      if(stats.options[i].value === locker.status){
        stats.selectedIndex = i
      } 

   }


   elem = document.getElementById('edit_locker');
   instance = M.Modal.getInstance(elem)
   instance.open()
  }

  function removeMode(locker){

    form = document.getElementById('deleteLocker')
    title = document.getElementById('deleteTitle')
    title.innerHTML = "Are you sure you want to delete "+locker.locker_code+"! This action cannot be undone"
    form.action = "/locker/"+locker.locker_code+"/confirmed"

   elem = document.getElementById('delete_locker');
   instance = M.Modal.getInstance(elem)
   instance.open()
  }

  function releaseMode(rent){

    if (rent.amount_owed != 0){
      rent_id = document.getElementById('t_rent_id')
      amount = document.getElementById('t_amount')
      form = document.getElementById("newTransaction")

      form.action = "/locker/" +rent.locker_id+"/transaction"
      rent_id.value = rent.id
      amount.value = rent.amount_owed

      elem = document.getElementById('new_transaction');
      instance = M.Modal.getInstance(elem)
      instance.open()
    }
    else{
      window.location.href = "/rent/"+rent.id+"/release";
    }
    
  }

</script>

{% endblock %}