{% extends "layout.html" %}
{% block title %}Masterkey:{{masterkeyData.masterkey_id}}{% endblock %}
{% block page %}Masterkey: {{masterkeyData.masterkey_id}}{% endblock %}

{{ super() }}

{% block content %}
<div class="row">
  <div class="col s7 offset-s3">
    <div class="card small indigo lighten-2" style="height: 22vh;">
    <div class="card-content white-text">
      <span class="card-title">Masterkey information: {{masterkeyData.masterkey_id}}</span>
      <div class="divider"></div>
      <div class="col s6">
        <h6>Series: {{masterkeyData.series}}</h6>
        <h6>Key Type: {{masterkeyData.key_type.value}}</h6>
      </div>

      <div class="col s6">
        <h6>Date Added: {{masterkeyData.date_added}}</h6>
        <h6>Number of keys: {{num_key}}</h6>
      </div>
    </div>
    </div>
    </div>
</div>

<div class="row">
  <div class="col s12 m10 offset-m1">
    <h6>Keys of {{masterkeyData.masterkey_id}} </h6>
    <table>
      <thead>
        <tr>
          <th>KeyID</th>
          <th>Key Status</th>
          <th>Date Added</th>
          <th>Last Assigned Locker</th>
        </tr>
      </thead>
      <tbody>
        {% for k in keyData %}
        <tr>
          <td><a href="/key/{{k.key_id}}">{{k.key_id}}</a></td>
          <td>{{k.key_status}}</td>
          <td>{{k.date_added}}</td>
          <td><a href="/locker/{{k.current_locker.locker_id}}">{{k.current_locker.locker_id}}</a></td>
        {% endfor %}
      </tbody>
    </table>
</div>

<div class="col m5 offset-m5">
  <ul class="pagination">
  {% if current_page == 1 %}
  <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
  {% else %}
  <li><a href="/masterkey/{{masterkeyData.masterkey_id}}/page/{{previous}}"><i class="material-icons">chevron_left</i></a></li>
  {% endif %}

  {% for n in range(1,num_pages + 1) %}
  {% if n == current_page %}
  <li class="waves effect purple darken-4"><a href="/masterkey/{{masterkeyData.masterkey_id}}/page/{{n}}" style="color:white;">{{n}}</a></li>
  {% else %}
  <li class="waves-effect purple darken-4"><a href="/masterkey/{{masterkeyData.masterkey_id}}/page/{{n}}" style="color:white;">{{n}}</a></li>
  {% endif %}
  {% endfor %}

  {% if current_page == num_pages %}
  <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
  {% else %}
  <li><a href="/masterkey/{{masterkeyData.masterkey_id}}/page/{{next}}"><i class="material-icons">chevron_right</i></a></li>
  {% endif %}
</ul>
</div> 
</div>

<div class="row">
  <div class="modal" id="delete_masterkey" style="max-height: 100%;border-radius: 25px; height: 35vh;">
    <div class="modal-content">
      <h6 style="font-weight: bold;">Delete Master Key </h6>
      <form id="deleteMasterkey" class="col s12 m12" method="POST" style="padding: 10px; border-color: black;border: 2px; border-style: solid;">
      {{ delete.csrf_token }}
      <div class="input-field col s12 m12"> 
        <h5 id="deleteTitle"></h5>
      </div>
    
    <div class="input-field col s8 m8 offset-m4" style="display:inline;">
      {{delete.submit(class="right purple darken-4 waves-light btn")}}
      <a class="red darken-4 white-text right modal-close waves-light btn">Cancel</a>          
    </div>
    </form>
  </div>
</div>
<div class ="modal" id="edit_masterkey" style="max-height: 100%;border-radius: 25px; height: 65vh;">
  <div class ="modal-content" id="content">
    <h6 style="font-weight: bold;"> Edit Master Key </h6>
    <form id="editMasterkey" class="col s12 m12" method="POST" action="/masterkey" style="padding: 10px; border-color: black;border: 2px; border-style: solid;">
         {{ form.csrf_token }}
         <div class="input-field col s12 m12">  
          <div class="col s6">
            <p>Code</p>
          {{ form.masterkey_id(size=20, class="validate", id = "u_masterkey_id")}}
          </div>  
          <div class="col s6">
            <p>Series</p>
            {{ form.series(size=20, class="validate", id = "u_masterkey_series")}}
          </div> 
         </div>   

         <div class="input-field col s12 m12">
          <div class="col s6">
          <p>Date Added</p>
          {{form.date_added(class='datepicker', id = "u_date")}} 
          </div>  
          
          <div class="col s12 m12">
            <p>Type</p>
          <select id="u_type" name="key_type" style="display:inline;">
            <option value=”” disabled selected>Select a Master Key Type</option>
            {% for subfield in form.key_type %}
             {{subfield}}
            {% endfor %}
          </select>
        </div>  
      </div>
         <div class="input-field col s8 m8 offset-m4" style="display:inline;">
           {{form.submit(class=" right purple darken-4 waves-light btn", id = "u_submit")}}
           <a class="red darken-4 white-text right modal-close waves-light btn">Cancel</a>
         </div>       
     </form>
  </div>     
</div>

<div class ="modal" id="new_key" style="max-height: 100%;border-radius: 25px; height: 65vh;">
  <div class ="modal-content" id="content">
    <h6 style="font-weight: bold;"> Add Key to {{masterkeyData.masterkey_id}} </h6>
    <form id="newKey" class="col s12 m12" method="POST" action="/masterkey/key?callback=masterkey&id={{masterkeyData.masterkey_id}}" style="padding: 10px; border-color: black;border: 2px; border-style: solid;">
      {{keys.csrf_token}}
      <div class="input-field col s12 m12">  
        <div class="col s6">
          <p>Key ID</p>
          {{ keys.key_id(size=20, class="validate")}}
        </div>  
        <div class="col s6">
          <p>MasterKey ID</p>
          {{ keys.masterkey_id(size=20, class="validate",id="u_m_key")}}
        </div> 
       </div> 
       
       <div class="input-field col s12 m12">  
        <div class="col s6">
          <p>Key ID</p>
          <select id="key_status" name="key_status" style="display:inline;">
            <option value=”” disabled selected>Select a Key Status</option>
            {% for subfield in keys.key_status %}
             {{subfield}}
            {% endfor %}
          </select>
        </div>  
        <div class="col s6">
          <p>Date Added</p>
          {{ keys.date_added(size=20, class="datepicker")}}
        </div> 
       </div> 
       <div class="input-field col s8 m8 offset-m4" style="display:inline;">
        {{keys.submit(class=" right purple darken-4 waves-light btn")}}
        <a class="red darken-4 white-text right modal-close waves-light btn">Cancel</a>
      </div> 
    </form>
    </div>
    </div>
</div>


<div class="fixed-action-btn">
  <a class="btn-floating btn-large waves-effect waves-light purple darken-4"  onclick="editMode({{masterkeyData.toJSON()}})"><i class="material-icons">edit</i></a>
  <ul>
    <li><a class="btn-floating purple darken-4" onclick="newKey('{{masterkeyData.masterkey_id}}')"><i class="material-icons left">add</i>Add Key</a></li>
    <li><a class="btn-floating purple darken-4" onclick="removeMode({{masterkeyData.toJSON()}})"><i class="material-icons left">delete</i>Delete</a></li>
  </ul>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
  var elems = document.querySelectorAll('.modal');
  var instances = M.Modal.init(elems);
  var elemsBtn = document.querySelectorAll('.fixed-action-btn');
  var instancesBtn = M.FloatingActionButton.init(elemsBtn);
  });

function removeMode(masterkey){

  form = document.getElementById('deleteMasterkey')
  title = document.getElementById('deleteTitle')
  title.innerHTML = "Are you sure you want to delete "+masterkey.masterkey_id+"! This action cannot be undone"
  form.action = "/masterkey/"+masterkey.masterkey_id+"/confirmed"

 elem = document.getElementById('delete_masterkey');
 instance = M.Modal.getInstance(elem)
 instance.open()
}
function newKey(id){
  m_key = document.getElementById('u_m_key')
  m_key.value = id

 elem = document.getElementById('new_key');
 instance = M.Modal.getInstance(elem)
 instance.open()

}

function editMode(masterkey){
 form = document.getElementById('editMasterkey')
 form.action = "/masterkey/"+masterkey.masterkey_id+"/update?callback=masterkey&id="+masterkey.masterkey_id

 id =  document.getElementById('u_masterkey_id')
 id.value = masterkey.masterkey_id

 series = document.getElementById('u_masterkey_series')
 key = document.getElementById('u_type')
 series.value = masterkey.series

 button = document.getElementById('u_submit')


 button.value = "Update Masterkey"
  
 date = document.getElementById("u_date")
 date.value = masterkey.date_added

 for (i = 0; i < key.options.length; i++){
    if(key.options[i].value === masterkey.key_type){
      key.selectedIndex = i
    }
 }

 
 elem = document.getElementById('edit_masterkey');
 instance = M.Modal.getInstance(elem)
 instance.open()
}
</script>

{% endblock %}