{% extends "layout.html" %}
{% block title %}App Users{% endblock %}
{% block page %}App Users{% endblock %}

{{ super() }}

{% block content %}
<div class="row">
 <form id="newTransaction" class="col s12 m8 offset-m2" method="POST" action="/transaction">

    {{ form.csrf_token }}

    <div class="input-field col s12 m8 offset-m2">
    <p> RentID </p>
    {{form.rent_id(size=18, class="validate")}}
    </div>
    
    <div class="input-field col s12 m8 offset-m2">
    <p> Currency </p>
    {{form.currency(size=18, class="validate")}}
    </div>

    <div class="input-field col s12 m8 offset-m2">
    <p> Transaction Date </p>
    {{form.transaction_date(size=18, class="validate")}}
    </div>

    <div class="input-field col s12 m8 offset-m2">
    <p> Amount </p>
    {{form.amount(size=18, class="validate")}}
    </div>

    <div class="input-field col s12 m8 offset-m2"> 
    <p> Description </p>
    {{form.description(size=18, class="validate")}}
    </div>
    <div class="input-field col s12 m8 offset-m2" style="display:inline;">
    <p> Transaction Type </p>
    <select name="t_type" style="display:inline;">
        <option value=”” disabled selected>Select Transaction Type</option>
        {% for subfield in form.t_type %}
         {{subfield}}
        {% endfor %}
      </select>
    </div>
    <div class="input-field col s12 m8 offset-m2">
     {{form.submit}}
    </div>
    </form>   
</div>
{% endblock %}
