{% extends "layout.html" %}
{% block title %}App Users{% endblock %}
{% block page %}App Users{% endblock %}

{{ super() }}

{% block content %}
<div class="row" style="background-color: coral; margin:20px;height: 53vh; padding-left: 11px;padding-right: 11px;">
    <div class="row">
        <table style="overflow-y: scroll; height: inherit;background-color: chocolate;">
          <thead style="background-color: deepskyblue;">
            <tr>
              <th>Locker Code</th><th>Area</th><th>Type</th><th>Status</th><th>Key</th>
            </tr>
          </thead>
          <tbody >
            {% if results %}
            {{results}}
            {% for result in results %}
              <tr>
                  <td>{{result.locker_code}}</td>
                  <td>{{result.area}}</td>
                  <td>{{result.locker_type}}</td>
                  <td>{{result.status}}</td>
                  <td>{{result.key}}</td>
                  <td><a href="/rent/{{result.locker_code}}/release">Release</a></td>
              </tr>
            {% endfor %}
            {% else %}
            <tr>
               <td> No Rentals to Release </td>
            </tr>
            {% endif %}
          <tbody>
        </table>
      </div>
</div>
{% endblock %}