{% extends "layout.html" %}
{% block title %}Release Locker{% endblock %}
{% block page %}Release Locker{% endblock %}

{{ super() }}

{% block content %}
<div class="row">
        
    {% if searchMode %}
    <div class="col s12 m8 offset-m2" style="padding-top: 0.5rem;">
      <a class="waves-effect waves-light btn" href="/locker">Go Back</a>
    </div>
    
    {% else %}
      <div class="col s12 m8 offset-m8">
        <form method="POST" action="/locker/search">
          <div class="input-field col s12 m4 offset-m1">
            {{search.search_query(placeholder="Enter search query")}}
          </div>
          <div class="input-field col s2 m2" style="display:inline;">
            <label for="search_submit"><i class="material-icons" style=" text-align: center;margin-left: 3px;color: white;">search</i></label>
           {{search.submit(id="search_submit", class="purple darken-4 waves-light btn",value="")}}
          </div>
        </form>
      </div>
    </div >
    {% endif %} 
      <div class="col s12 m10 offset-m1" style="height:60vh;">
        <table >
          <thead >
            <tr>
              <th>ID</th>
              <th>Locker Code</th>
              <th>Rented By</th>
              <th>Type</th>
              <th> Rented From </th>
              <th> Rented To </th>
              <th> Date Returned </th>
              <th>Status</th>
              <th>Amount Owed</th>
              <th> </th>
            </tr>
          </thead>
          <tbody >
            {% if results %}
            {% for result in results %}
              <tr>
                  <td>{{results.id}}</td>
                  <td>{{result.locker_id}}</td>
                  <td>{{result.student_id}}</td>
                  <td>{{result.rent_type}}</td>
                  <td>{{result.rent_date_from}}</td>
                  <td>{{result.rent_date_to}}</td>
                  <td>{{result.date_returned}}</td>
                  <td>{{result.status.value}}</td>
                  <td>$ {{result.amount_owed}}</td>
                  {% if result.status.value != "Returned" and result.status.value != "Verified"%}
                  <td><a href="/rent/{{result.id}}/release" class="purple darken-4 waves-effect waves-light btn-small"><i class="material-icons left">delete</i>Release</a></td>
                  {% elif result.status.value == "Returned"%}
                  <td><a href="/rent/{{result.id}}/release/verify" class="purple darken-4 waves-effect waves-light btn-small"><i class="material-icons left">delete</i>Verify Release</a></td>
                  {% elif result.status.value != "Verified"%}

                  {% endif %}
              </tr>
            {% endfor %}
            {% else %}
            <tr>
               <td> No Rentals to Release </td>
            </tr>
            {% endif %}
          <tbody>
        </table>
      </div>  
      </div>
</div>
{% endblock %}