{% extends "layout.html" %}
{% block title %}Release Locker{% endblock %}
{% block page %}Release Locker{% endblock %}

{{ super() }}

{% block content %}
<div class="row">
  <div class="col s7 offset-s3">
    <div class="card small indigo lighten-2" style="height: 32vh;">
    <div class="card-content white-text">
      <span class="card-title">Student information: {{student.student_id}}</span>
      <div class="divider"></div>
      <div class="col s6">
        <h6>Name: {{student.first_name}}  {{student.last_name}}</h6>
        <h6>Faculty: {{student.faculty}}</h6>
      </div>

      <div class="col s6">
        <h6>Phone No: {{student.phone_number}}</h6>
        <h6>Email:{{student.email}} </h6>
      </div>

      <div class="col s6">
        <h6>Standing: {{student.rentStanding}}</h6></p>
      </div>
    </div>

    <div class="card-action">
      <div class="col s1 offset-s10 floating-action-btn">
        <a class="btn-floating btn-small waves-effect waves-light purple darken-4"><i class="material-icons">add </i></a>
      </div>
    </div>
    </div>
    </div>
</div>

<div class="row">
  <div class="col s12 m10 offset-m1">
    <h6>Rental History of {{student.first_name}} {{student.last_name}} </h6>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Locker ID</th>
          <th>Rent Type</th>
          <th>Rented From</th>
          <th>Expected Return</th>
          <th>Date Returned</th>
          <th>Amount Owed </th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for r in rent %}
        <tr>
          <td><a href="/rent/{{r.id}}">{{r.id}}</a></td>
          <td><a href="/locker/{{r.locker_id}}">{{r.locker_id}}</a></td>
          <td>{{r.rent_type}}</td>
          <td>{{r.rent_date_from.date()}}</td>
          <td>{{r.rent_date_to.date()}}</td>
          {% if r.date_returned %}
          <td>{{r.date_returned.date()}}</td>
          {% else %}
          <td>Not yet returned </td>
          {% endif %}
          <td>{{r.amount_owed}}</td>
          <td>{{r.status.value}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

<div class="col m5 offset-m5">
  <ul class="pagination">

  {% if current_page == 1 %}
  <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
  {% else %}
  <li><a href="/student/{{student.student_id}}/page/{{previous}}"><i class="material-icons">chevron_left</i></a></li>
  {% endif %}

  {% for n in range(1,num_pages + 1) %}
  
  
  {% if n == current_page %}
  <li class="waves effect purple darken-4"><a href="/student/{{student.student_id}}/page/{{n}}" style="color:white;">{{n}}</a></li>
  {% else %}
  <li class="waves-effect purple darken-4"><a href="/student/{{student.student_id}}/page/{{n}}" style="color:white;">{{n}}</a></li>
  {% endif %}
  {% endfor %}

  {% if current_page == num_pages %}
  <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
  {% else %}
  <li><a href="/student/{{student.student_id}}/page/{{next}}"><i class="material-icons">chevron_right</i></a></li>
  {% endif %}
</ul>
</div>

</div>
{% endblock %}