{% extends "layout.html" %}
{% block title %}Rent Lockers{% endblock %}
{% block page %}Rent Lockers{% endblock %}

{{ super() }}

{% block content %}
<div class="row" >

    
  <form method="POST" action="/rentpage/search">
    <div class="input-field col s12 m4 offset-m1">
      {{search.search_query(placeholder="Enter search query")}}
    </div>
    <div class="input-field col s2 m2" style="display:inline;">
      <label for="search_submit"><i class="material-icons" style="color:white; text-align: center;">search</i></label>
     {{search.submit(id="search_submit", class="waves-light btn",value="")}}
    </div>
  </form>
  
</div>
<div class="row" >
    <div class="row">
        <table style="overflow-y: scroll; height: inherit;margin-left: 20px;">
          <thead >
            <tr>
              <th>Locker Code</th>
              <th>Locker Type </th>
              <th>Status</th>
              <th>Key Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody >
            {% if lockers %}
            {% for l in lockers %}
            <tr>
              <td>{{l.locker_code}}</td>
              <td>{{l.locker_type}}</td>
              <td>{{l.status}}</td>
              <td>{{l.key}}</td>
              <!--
                Use JS to choose locker
              -->
              <td><a href="/makerent/{{l.locker_code}}" class="purple darken-4 waves-effect waves-light btn-small"><i class="material-icons left">add</i>Select</a></td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
              <td> No lockers currently available </td>
            </tr>
              
            {% endif %}


            
          <tbody>
        </table>
      </div>
</div>
{% endblock %}