{% extends "layout.html" %}
{% block title %}New Price Model{% endblock %}
{% block page %}Price{% endblock %}

{{ super() }}

{% block content %}

<div class="row">
  {% if updateMode %}
  <form id="new_rentType" class="col s12 m8 offset-m2" method="POST" action="/rentType/{{id}}/update">
  {% else %}
 <form id="new_rentType" class="col s12 m8 offset-m2" method="POST" action="/rentType">
  {% endif %}
    {{ form.csrf_token }}
    <div class="input-field col s12 m8 offset-m2">
    <p> Period From</p>
    {{form.period_from(size=20,class="validate")}}
    </div>

    <div class="input-field col s12 m8 offset-m2">
      <p> Period To</p>
      {{form.period_to(size=20,class="validate")}}
      </div>
  

    <div class="input-field col s12 m8 offset-m2">
    <p> Type </p>
    
    <select name="type" style="display:inline;">
      <option value=”” disabled selected>Select a Rent Type</option>
      {% for subfield in form.type %}
        {{subfield}}
      {% endfor %}
    </select>
    </div>

    <div class="input-field col s12 m8 offset-m2">
    <p> Price </p>
    {{form.price (size=20,class="validate")}}
    </div>
    <div class="input-field col s12 m8 offset-m2">
        {{form.submit}}
       </div>
    </form>   
    {% endblock %}