{% extends "layout.html" %}
{% block title %}Rent Lockers{% endblock %}
{% block page %}Rent Lockers{% endblock %}

{{ super() }}

{% block content %}
<div class = "row">
  <div class="col s12 m8 offset-m8">
    
  <form method="POST" action="/rentpage/search">
    <div class="input-field col s12 m4 offset-m1">
      {{search.search_query(placeholder="Enter search query")}}
    </div>
    <div class="input-field col s2 m2" style="display:inline;">
      <label for="search_submit"><i class="material-icons" style=" text-align: center;margin-left: 3px;color: white;">search</i></label>
     {{search.submit(id="search_submit", class="purple darken-4 waves-light btn",value="")}}
    </div>
  </form>
  </div> 
</div>
<div class="row" >
    <div class="col s12 m10 offset-m1" style="height:60vh;">
        <table >
          <thead >
            <tr>
              <th>Locker Code</th>
              <th>Locker Type </th>
              <th>Status</th>
              <th>Key Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody >
            {% if lockers %}
            {% for l in lockers %}
            <tr>
              <td>{{l.locker_code}}</td>
              <td>{{l.locker_type}}</td>
              <td>{{l.status}}</td>
              <td>{{l.key}}</td>
              <!--
                Use JS to choose locker
              -->
              <td><a href="/makerent/{{l.locker_code}}">Select</a></td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
              <td> No lockers currently available </td>
            </tr>
              
            {% endif %}


            
          <tbody>
        </table>
      </div>
</div>
{% endblock %}