{% extends "layout.html" %}
{% block title %}App Users{% endblock %}
{% block page %}App Users{% endblock %}

{{ super() }}

{% block content %}
<div class="row" style="background-color: blueviolet; margin:20px;height: 25vh;">
    <table>
      {% if lockers %}
      {% for l in lockers %}
      <tr>
        <td>{{l.locker_code}}</td>
        <td>{{l.locker_type}}</td>
        <!--
          Use JS to choose locker
        -->
        <td><a href="/rent/{{l.locker_code}}/rent">Select</a></td>
      </tr>
      {% endfor %}
      {% else %}
        <p> No lockers currently available </p>
      {% endif %}
    </table>
  
</div>
<div class="row" style="background-color: coral; margin:20px;height: 53vh; padding-left: 11px;padding-right: 11px;">
    <div class="row">
        <table style="overflow-y: scroll; height: inherit;background-color: chocolate;">
          <thead style="background-color: deepskyblue;">
            <tr>
              <th>ID</th>
              <th>StudentID</th>
              <th>Locker Code</th>
              <th>Date From </th>
              <th>Date To</th>
              <th>Amount Owed</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody >
            {% if results %}
            {% for result in results %}
              <tr>
                  <td>{{result.id}}</td>
                  <td>{{student_id}}</td>
                  <td>{{result.locker_id}}</td>
                  <td>{{result.rent_date_from}}</td>
                  <td>{{result.rent_date_to}}</td>
                  <td>{{result.amount_owed}}</td>
                  <td>{{result.status}}</td>
              </tr>
            {% endfor %}
            {% endif %}
          <tbody>
        </table>
      </div>
</div>
{% endblock %}