{% extends "layout.html" %}
{% block title %}Students{% endblock %}
{% block page %}Students{% endblock %}



{% block content %}
<div class="row">
    <div class="row">
      {% if updateMode %}
      <form id="newLocker" class="col s12 m8 offset-m2" method="POST" action="/student/{{form.student_id.data}}/update">
      {% else %}
      <form id="newLocker" class="col s12 m8 offset-m2" method="POST" action="/student">
      {% endif %}
          {{ form.csrf_token }}
 
          <div class="input-field col s12 m8 offset-m2"> 
           <p>Student ID</p>
           
            {{ form.student_id(size=20, class="validate") }}
          </div>  

    
   
          
          <div class="input-field col s12 m8 offset-m2"> 
            <p>First Name</p>
            
             {{ form.f_name(size=20, class="validate") }}
           </div> 

           <div class="input-field col s12 m8 offset-m2"> 
            <p>Last Name</p>
            
             {{ form.l_name(size=20, class="validate") }}
           </div>

           <div class="input-field col s12 m8 offset-m2"> 
            <p>Faculty</p>
            
             {{ form.faculty(size=20, class="validate") }}
           </div> 

           <div class="input-field col s12 m8 offset-m2"> 
            <p>Phone Number</p>
            
             {{ form.p_no(size=20, class="validate") }}
           </div> 

           <div class="input-field col s12 m8 offset-m2"> 
            <p>Emailr</p>
            
             {{ form.email(size=20, class="validate") }}
           </div> 

 
          <div class="input-field col s12 m8 offset-m2" style="display:inline;">
            {{form.submit}}
          </div> 
 
          <div class="input-field col s12 m8 offset-m2">
           <p> {{data}}</p>
         </div> 
 
      </form>
    </div>
 </div>
{% endblock %}

<script src="/static/keep_alive.js"> </script> 