{% extends "layout.html" %}
{% block title %}Transaction Log{% endblock %}
{% block page %}Transaction Log{% endblock %}

{{ super() }}

{% block content %}

<div class = "row">
  <div class="col s12 m8 offset-m7">
    <form method="GET" action="/transactionLog/search">
      <div class="input-field col s12 m4 offset-m1" >
        <div class = "row">
          <input type="search" name="search_query" placeholder="Enter search query" style = "padding-right: 80px" required/>
        </div>
      </div>
      <div class="input-field col s2 m2" style="display:inline; " >
        <button type="submit" style="padding: 8.8px 21.5px 37px 21.5px" class="purple darken-4 waves-effect waves-light btn-small"><i class="material-icons" style="padding: 5px; font-size: 2rem; color:white; ">search</i></button>
      </div>
    </form>
</div >
  </div>
  <div class="col s12 m10 offset-m1" style="height:60vh;">
    <table>
      <tr>
          <th>ID</th>
          <th>Rent ID</th>
          <th>Currency </th>
          <th>Transaction Date </th>
          <th> Amount </th>
          <th> Type </th>
          <th>Invoice No</th>
      </tr>
      {% if transaction_data %}
      {% for t in transaction_data %}
          <tr>
              <td>{{t.id}}</td>
              <td>{{t.rent_id}}</td>
              <td>{{t.currency}}</td>
              <td>{{t.transaction_date}}</td>
              <td>{{t.amount}}</td>
              <td>{{t.type}}</td>
              <td>{{t.receipt_number}}</td>
          </tr>
      {% endfor %}
      {% else %}
          <td> No Transactions </td>
      {% endif %}
     </table>
  </div>
   

   <div class ="col m5 offset-m5">
    <ul class = "pagination">

      {% if current_page == 1 %}
      <li class = "disabled"><a href="#!"><i class = "material-icons">chevron_left</i></a></li>
      {% else %}
      <li><a href = "/transactionLog/page/{{previous}}"><i class = "material-icons">chevron_left</i></a></li>
      {% endif %}

      {% for n in range(1, num_pages + 1) %}

      {% if n == current_page %}
      <li class="active purple darken-4"><a href="/transactionLog/page/{{n}}"style="color:white;">{{n}}</a></li>
      {% else %}
      <li class="purple darken-4 waves-effect"><a href="/transactionLog/page/{{n}}" style="color:white;">{{n}}</a></li>
      {% endif %}

      {% endfor %}

      {% if current_page == num_pages %}
      <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
      {% else %}
      <li><a href="/transactionLog/page/{{next}}"><i class="material-icons">chevron_right</i></a></li>
      {% endif %}
    </ul>
   </div>
   
   

   <div class ="modal" id="new_transaction" style="max-height: 100%;border-radius: 25px; height: 68vh;">
    <div class ="modal-content" id="content">
      <h6 style="font-weight: bold;"> New Transaction </h6>
      <form id="newTransaction" class="col s12 m12" method="POST" action="/transactionLog" style="padding: 10px; border-color: black;border: 2px; border-style: solid;">

        {{ form.csrf_token }}
    
        <div class="input-field col s12 m4">
        <p> RentID </p>
        {{form.rent_id(size=18, class="validate")}}
        </div>
        
        <div class="input-field col s12 m2 offset-m1">
        <p> Currency </p>
        {{form.currency(size=18, class="validate")}}
        </div> 
        
        <div class="input-field col s12 m4 offset-m1">
        <p> Amount </p>
        {{form.amount(size=18, class="validate")}}
        </div>
    
        <div class="input-field col s12 m4">
        <p> Transaction Date </p>
        {{form.transaction_date(size=18, class="validate")}}
        </div>
    
    
        <div class="input-field col s12 m8"> 
        <p> Description </p>
        {{form.description(size=18, class="validate")}}
        </div>
    
        <div class="input-field col s12 m4" style="display:inline;">
        <p> Transaction Type </p>
        <select name="t_type" style="display:inline;">
            <option value=”” disabled selected>Select Transaction Type</option>
            {% for subfield in form.t_type %}
             {{subfield}}
            {% endfor %}
          </select>
        </div>
    
        <div class="input-field col s12 m4">
          <p> Receipt Number </p>
          {{form.receipt_number(size=18, class="validate")}}
          </div>
    
          <div class="input-field col s8 m8 offset-m4" style="display:inline;">
            {{form.submit(class=" right purple darken-4 waves-light btn")}}
            <a class="red darken-4 white-text right modal-close waves-light btn">Cancel</a>
          </div> 
        </form> 
  </div>
  </div>

  <div class="col s1 m1 offset-m11" style="padding: 0.75rem">
    <div class="floating-action-btn">
      <a class="btn-floating btn-large waves-effect waves-light purple darken-4 modal-trigger" href="#new_transaction" id="m_button" style="position: absolute; bottom: 8vh;"><i class="material-icons"> add </i></a>
    </div>
  </div>
</div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems);
    });
</script>
{% endblock %}