{% extends "layout.html" %}
{% block title %}Area{% endblock %}
{% block page %}Area{% endblock %}

{{ super() }}

{% block content %}
<div class="row">
  <div class="row">
  <div class="col s12 m3 offset-m9">
    <form action="/area/search" id="search_form">
      <div class="input-field col s12 m12">
       <div class = "search-wrapper">
        <input type="search" name="search_query" placeholder="Enter search query" required/>
        <i class="material-icons white-text" style="top:1vh; " id="submit_search">search</i>
       </div>
      </div>
    </form>
  </div>
</div>
   <div class="col s12 m10 offset-m1" style="height:100vh;">
        <table>
        <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Longitude</th>
            <th> Latitude</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>

        {% if areaData %}
        {% for a in areaData %}
        <tr class="purple darken-4">
            <td><a href="/area/{{a.id}}">{{a.id}}</a></td>
            <td>{{a.description}}</td>
            <td>{{a.longitude}} </td>
            <td>{{a.latitude}} </td>
              <td style="/*width:120px;*/"><a href="#edit" onclick="editMode({{a}})" class="purple darken-4 waves-effect waves-light btn-small"><i class="material-icons left">edit</i>Edit</a></td>
              <td style="/*width:120px;*/"><a href="#delete" onclick="removeMode({{a}})" class="purple darken-4 waves-effect waves-light btn-small"><i class="material-icons left">delete</i>Delete</a></td>
            </tr>
            
        {% endfor %}
        {% endif %}
      </table>
      </div>
      <div class="col s12 m12 l12 center-align" id="pag">
        <ul class="pagination">
          {% if query %}
          {% if current_page == 1  %}
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            {% else %}
            <li><a href="/area/search/page/{{previous}}/?search_query={{query}}"><i class="material-icons white-text">chevron_left</i></a></li>
            {% endif %}
            <li class="active purple darken-4">{{current_page}}</li>
            {% if current_page == num_pages %}
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            {% else %}
            <li><a href="/area/search/page/{{next}}/?search_query={{query}}"><i class="material-icons white-text">chevron_right</i></a></li>
            {% endif %}
        {% else %}
        {% if current_page == 1  %}
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        {% else %}
        <li><a href="/area/page/{{previous}}"><i class="material-icons white-text">chevron_left</i></a></li>
        {% endif %}

        <li class="active purple darken-4"><a href="#">{{current_page}}</a></li>
       
        {% if current_page == num_pages %}
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        {% else %}
        <li><a href="/area/page/{{next}}"><i class="material-icons white-text">chevron_right</i></a></li>
        {% endif %}
      {% endif %}

      </ul>
      </div>
      <div class="fixed-action-btn">
        <a class="btn-floating btn-large waves-effect waves-light purple darken-4 modal-trigger" href="#new_area"><i class="material-icons">add </i></a>
       </div>
 
      <div class="modal grey darken-3" id="map_modal">
           <div class="modal-content">
            <div id="map" style="height:50vh;width: 50vw;"></div>
            <div class="col s12">
              <div class="col s6">
                <p id="lat_stat"></p>
              </div>
              <div class="col s6">
                <p id="long_stat"></p>
              </div>
            </div>
            <a href="#" class=" purple darken-4 waves-light btn modal-close">Confirm</a>
            <a href="#" class=" grey darken-4 waves-light btn modal-close">Close</a>
          </div>
            
            
        </div>    
     

      <div class="modal grey darken-3 white-text" id="new_area">
        <div class ="modal-content" id="content">
          <h6 style="font-weight: bold;">New Area </h6>
          <form id="AddArea" class="col s12 m12" method="POST" action="/area" autocomplete="off">
            {{ form.csrf_token }}
            <div class="input-field col s10 m10"> 
              <p>Description</p>
              {{ form.description(size=20, class="validate white-text") }}
            </div>
  
             <div class="input-field col s6 m6"> 
              <p>Longitude</p>
               {{ form.longitude(size=20, class="validate white-text") }}
             </div>   
  
             <div class="input-field col s6 m6"> 
              <p>Latitude</p>
               {{ form.latitude(size=20, class="validate white-text") }}
             </div>

             <div class="input-field col s3 m3">
              <a class="purple darken-4 waves-light btn" href="#map_modal" onclick="openMap('latitude','longitude')"><i class="material-icons white-text">place</i></a>
             </div>

             <div class="input-field col s6 m6 offset-m4" style="display:inline;">
              {{form.submit(class=" right purple darken-4 waves-light btn")}}
              <a class="red darken-4 white-text right modal-close waves-light btn">Cancel</a>
            </div> 
        </form>
        </div>
        </div>

        <div class="modal grey darken-3 white-text" id="edit_area">
          <div class ="modal-content">
            <h6 style="font-weight: bold;">  Edit Area </h6>
            <form id="editArea" class="col s12 m12" method="POST" action="/area" autocomplete="off">
              {{ form.csrf_token }}
              <div class="input-field col s12 m10"> 
                <p>Description</p>
                {{ form.description(size=20, class="validate white-text" ,id="u_description") }}
              </div>
    
               <div class="input-field col s6 m6"> 
                <p>Longitude</p>
                 {{ form.longitude(size=20, class="validate white-text", id="u_long") }}
               </div>   
    
               <div class="input-field col s6 m6 "> 
                <p>Latitude</p>
                 {{ form.latitude(size=20, class="validate white-text", id="u_lat")  }}
               </div>

               <div class="input-field col s3 m3">
                <a class="purple darken-4 waves-light btn" href="#map_modal" onclick="openMap('u_lat','u_long')"><i class="material-icons white-text">place</i></a>
               </div>
               
               <div class="input-field col s8 m8 offset-m4" style="display:inline;">
                {{form.submit(id="u_submit",class=" right purple darken-4 waves-light btn")}}
                <a class="red darken-4 white-text right modal-close waves-light btn">Cancel</a>
              </div>  
          </form>
          </div>
        </div>

          <div class="modal grey darken-3 white-text" id="delete_area">
            <div class="modal-content">
              <h6 style="font-weight: bold;">Delete Area </h6>
               <form id="deleteArea" class="col s12 m12" method="POST">
                {{ delete.csrf_token }}
                <div class="input-field col s12 m12"> 
                  <h5 id="deleteTitle"></h5>
                </div>
              
              <div class="input-field col s8 m8 offset-m4" style="display:inline;">
                {{delete.submit(class="right purple darken-4 waves-light btn")}}
                <a class="red darken-4 white-text right modal-close waves-light btn">Cancel</a>          </div>
              </form>
          </div>
        </div>

      </div>
     
      <script src="/static/map_init.js"></script>
      <script>
         document.addEventListener('DOMContentLoaded', function() {
          var elemsFxBtn = document.querySelectorAll('.fixed-action-btn');
      var instancesFxBtn = M.FloatingActionButton.init(elemsFxBtn);
         })

    function editMode(area){
      form = document.getElementById('editArea')
      form.action = "/area/"+area.id+"/update"

      description = document.getElementById("u_description")
      description.value = area.description
      long = document.getElementById("u_long")
      long.value = area.longitude
      lat = document.getElementById("u_lat")
      lat.value = area.latitude
      submit = document.getElementById("u_submit")
      submit.value = "Update Area"

      elem = document.getElementById('edit_area');
      instance = M.Modal.getInstance(elem)
      instance.open()
    }
    function openMap(input_field_lat,input_field_long){ 
      elem = document.getElementById('map_modal');
      setModal(input_field_lat,input_field_long)
      instance = M.Modal.getInstance(elem)
      instance.open();
      map.invalidateSize();
    }

    function removeMode(area){
    form = document.getElementById('deleteArea')
    title = document.getElementById('deleteTitle')
    title.innerHTML = "Are you sure you want to delete "+area.description+"! This action cannot be undone"
    form.action = "/area/"+area.id+"/confirmed"

    elem = document.getElementById('delete_area');
    instance = M.Modal.getInstance(elem)
    instance.open()
  }
      </script>

{% endblock %}