{% extends "layout.html" %}
{% block title %}Import/Export {% endblock %}
{% block page %}Import/Export{% endblock %}

{{ super() }}

{% block content %}
<div class="row" style="height: 100vh;">
  <div class="row">

    <form id="newLocker" class="col s12 m8 offset-m1" method="POST" action="/import" enctype="multipart/form-data">
      <h6>Import Data</h6>
      <div class="col s12 m12" style="padding: 10px;" >
        <div class="col s12">
          <input type="file" name="backup" style="background:white; color:black" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel">
          <input type="submit" value="upload" class="purple darken-4 waves-light btn">
         </div>
      </div>
    </form>

    
    <div class="col s12 m8 offset-m1">
      <h6>Export Data </h6>
      <form id="newLocker" class="col s12 m12" method="GET" action="/export/file">
      <div class="col s12 m12" style="padding: 10px;" >
        <input type="submit" id="export_btn" value="Export Data" class="purple darken-4 waves-light btn">
      </div>   
    </form>
    </div>

  </div>
</div>
<script>
   document.addEventListener('DOMContentLoaded', function() {
  var elems = document.querySelectorAll('.modal');
  var instances = M.Modal.init(elems);
  });
</script>
{% endblock %}