{% extends "layout.html" %}
{% block title %}Area Details{% endblock %}
{% block page %}Area Details{% endblock %}

{{ super() }}

{% block content %}
<row>
  <div class="col s6 offset-s3">
  <div class="card small purple darken-4" style="height:38vh">
    <div class="card-content white-text">
      <span class="card-title">Area information: {{area.id}} </span>
      <div class="divider"></div>
      <div class="col s12">
        <h6>Description: {{area.description}}</h6>
      </div>

      <div class="col s12">
        <div class="col s6"><h6>Latitude: {{area.latitude}}</h6></div>
        <div class="col s6"><h6>Longitude: {{area.longitude}}</h6></div>
      </div>

       <div class="col s12">
        <div class="col s6"><h6>Number of Lockers: {{num_lockers}}</h6></div>
       </div>
    </div>
  </div>
  </div>
</row>
<div class="row" >
<div class="col s12 m10 offset-m1" style="height: 80vh;">
  <h6>Lockers In Area</h6>
  <table>
    <tr>
        <th>Locker Code</th>
        <th>Locker Type </th>
        <th>Status</th>
        <th>Key ID</th>
    </tr>
    {% for l in area.locker %}
    <tr class="purple darken-4">
      <td><a href="/locker/{{l.locker_code}}">{{l.locker_code}}</a></td>
      <td>{{l.locker_type.value}}</td>
      <td>{{l.status.value}}</td>
      <td>{{l.key}} </td>
    </tr>
    {% endfor %}
  </table>
</div>

<div id="pag" class="col s12 center-align">
  <ul class="pagination">

  {% if current_page == 1 %}
  <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
  {% else %}
  <li><a href="/area/{{area.id}}/page/{{previous}}"><i class="material-icons">chevron_left</i></a></li>
  {% endif %}

  <li class="waves effect purple darken-4"><a href="#" style="color:white;">{{current_page}}</a></li>
 
  {% if current_page == num_pages %}
  <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
  {% else %}
  <li><a href="/area/{{area.id}}/page/{{next}}"><i class="material-icons">chevron_right</i></a></li>
  {% endif %}
</ul>
</div>


  <div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light purple darken-4" onclick="openNewLocker({{area.toJSON()}})"><i class="material-icons">add </i></a>
    <ul>
      <li><a class="btn-floating purple darken-4 modal-trigger" href="#mass_swap_modal"><i class="material-icons">swap_horiz</i></a></li>
    </ul>
  </div>
</div>

<div class ="modal grey darken-3 white-text" id="new_locker">
  <div class ="modal-content" id="content">
    <h6 style="font-weight: bold;"> Add Locker </h6>
    <form id="newLocker" class="col s12 m12 white-text" method="POST" action="/locker" autocomplete="off">
         {{ form.csrf_token }}
         <div class="input-field col s12 m12">  
          <div class="col s6">
            <p>Locker Code</p>
          {{ form.locker_code(size=20, class="validate white-text")}}
          </div>  
          <div class="col s6">
            <p>Locker Type</p>
            <select id="locker_type" name="locker_type" style="display:inline;" required>
              <option value=”” disabled selected>Select a Locker Type</option>
              {% for subfield in form.locker_type %}
                {{subfield}}
              {% endfor %}
            </select>
          </div> 
         </div>   

         <div class="input-field col s12 m12">
          <div class="col s6">
          <p>Status</p>
          <select id="stats" name="status" style="display:inline;" required>
            <option value=”” disabled selected>Select a Status</option>
            {% for subfield in form.status %}
             {{subfield}}
            {% endfor %}
          </select>
          </div>  
          <div class="col s6">
            <p>Key</p>
            {{ form.key(size=18, class="validate white-text")}}
          </div>
        </div>

          <div class="col s12 m12">
            <p>Area</p>
          <select id="area" name="area" style="display:inline;" required>
            <option value=”” disabled selected>Select a Area Status</option>
            {% for subfield in form.area %}
             {{subfield}}
            {% endfor %}
          </select>
        </div>  
      
  </div> 
  <div class="modal-footer grey darken-3">
    <div class="input-field col s8 m8 offset-m4" style="display:inline;">

     <div class="col s4 offset-s4">
        <a class="red darken-4 white-text right modal-close waves-light btn">Cancel</a>
     </div>

     <div class="col s4">
       {{form.submit(class=" right purple darken-4 waves-light btn")}}
     </div>
     
   
    </div>       
</form>
</div>    
</div>
<div class="modal grey darken-3 white-text" id="mass_swap_modal" style="max-width: 300px;">
  <div class="modal-content" id="content" >
    <form style="overflow-x: auto; max-height: 300px;">
      {% for a in areaList %}
      <p>
      <label>
        <input name="area_select" type="radio" value="{{a.id}}"/>
        <span class="white-text">{{a.description}}</span>
      </label>
     </p>
    {% endfor %}
    <input type="submit"/>
    </form>
  </div>
</div>
<script src="/static/autocomplete.js"></script> 
<script>
  autocomplete(document.getElementById('key'),{{keys | safe}})
  document.addEventListener('DOMContentLoaded', function() {
    var elemsBtn = document.querySelectorAll('.fixed-action-btn');
    var elems = document.querySelectorAll('.modal');
    var instancesBtn = M.FloatingActionButton.init(elemsBtn);
    var instances = M.Modal.init(elems);
  });

  function openNewLocker(e_area){
   form = document.getElementById('newLocker')
   form.action = "/locker?callback=area&id="+e_area.id
  
   area = document.getElementById('area')
  
   for(i =0; i < area.options.length;i++){
    if(area.options[i].value == e_area.id){
        area.selectedIndex = i
      }
   }
      elem = document.getElementById('new_locker');
      instance = M.Modal.getInstance(elem)
      instance.open()
   }
   
  

</script>
{% endblock %}
