{% extends "layout_no_nav.html" %}
{% block title %}Login{% endblock %}
{% block page %}SAC Locker System{% endblock %}

{% block content %}
<div class="container center-align">
  <div  class="row">
    <div class="grey green-text lighten-4" style="margin: 5% 30%; padding: 5%;">
       <div class="center">
      <h1 class = "yellow-text black">SAC</h1>
    </div>      
    <form action="/login" method="post">
      <div class='row'>
          <div class='input-field col s12 black-text'>
            <input type="text" id="username" name="username" required class="black-text center-align" value="username">
            <span></span>
            <label>Enter Username</label>
          </div>
        </div>
        <div class="row">
          {% with messages = get_flashed_messages() %}
          {% if messages %}
              {% for message in messages %}
                <body onload="M.toast({html:'{{message}}'})"></body>
              {% endfor %}
          {% endif %}
          {% endwith %}
        </div>
        <div class='row'>
          <div class='input-field col m12 black-text'>
            <input type="password" id="password" name="password" required class="black-text center-align" value="password">
            <span></span>
            <label>Enter Password</label>
          </div>
          <label style='float: right;'>
          
          </label>
        </div>
        <br/>
        
          <div class='row'>
            <input type="Submit" value="Login" class="btn purple darken-4">
        </div>
  </form>
    </div>
    </div>
   
</div>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    
        </div>
    </div>
{% endblock %}

<script src="/static/keep_alive.js"> </script> 