{% extends "layout.html" %}
{% block title %}Student Select{% endblock %}
{% block page %} Student Select {% endblock %}

{{ super() }}

{% block content %}
<div class="row">
  <div class="row">
    <div class="col s12 m8 offset-m7">
      <form action="/student/search?callback={{id}}" id="search_form">
        <div class="input-field col s12 m4 offset-m1">
         <div class = "search-wrapper">
          <input type="search" name="search_query" placeholder="Enter search query" required/>
          <i class="material-icons" style="color:#4a148c; top:1vh; " id="submit_search">search</i>
         </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
        <div class="col s12 m10 offset-m1" style="height: 80vh;">
          <table>
          <tr>
              <th>StudentID</th>
              <th>First Name </th>
              <th>Last Name </th>
              <th>Faculty</th>
              <th>Phone no.</th>
              <th>Email </th>
              <th>Standing</th>
          </tr>
  
          {% if studentData %}
          {% for s in studentData %}
          <tr class="purple darken-4">
              <td>{{s.student_id}}</td>
              <td>{{s.first_name}}</td>
              <td>{{s.last_name}}</td>
              <td>{{s.faculty}} </td>
              <td>{{s.phone_number}} </td>
              <td>{{s.email}}</td>
              <td>{{s.rentStanding}}</td>
              <td  style="width:120px;"><a href="#" onclick="createRent({{s.student_id}})" class="purple darken-4 waves-effect waves-light btn-small"><i class="material-icons left">add</i>Add</a></td>
              <td  style="width:120px;"><a href="#" onclick="editMode({{s}},'{{id | safe}}')" class="purple darken-4 waves-effect waves-light btn-small"><i class="material-icons left">edit</i>Edit</a></td>
          </tr>
              
          {% endfor %}
          {% endif %}
        </table>
  
        <div class="fixed-action-btn">
          <a class="btn-floating btn-large waves-effect waves-light purple darken-4 modal-trigger"  href="#new_student"><i class="material-icons">add </i></a>
        </div>
      
       <div class="modal grey darken-3" id="new_student">
        <div class="modal-content">
          <h6 style="font-weight: bold;">Add Student </h6>
         <form id="newStudent" class="col s12 m12" method="POST" action="/student">
            {{ form.csrf_token }}
            <div class="input-field col s12 m12"> 
             <p>Student ID</p>           
              {{ form.student_id(size=20, class="validate white-text") }}
            </div>  
            <div class="input-field col s12 m4"> 
              <p>First Name</p>
               {{ form.f_name(size=20, class="validate white-text") }}
             </div> 
  
             <div class="input-field col s12 m4"> 
              <p>Last Name</p>
               {{ form.l_name(size=20, class="validate white-text") }}
             </div>
  
             <div class="input-field col s12 m3"> 
              <p>Faculty</p>
               {{ form.faculty(size=20, class="validate white-text") }}
             </div> 
  
             <div class="input-field col s12 m6"> 
              <p>Phone Number</p>
               {{ form.p_no(size=20, class="validate white-text") }}
             </div> 
  
             <div class="input-field col s12 m6"> 
              <p>Email</p>
               {{ form.email(size=20, class="validate white-text") }}
             </div> 

             <div class="input-field col s8 m8 offset-m4" style="display:inline;">

              <div class="col s4 offset-s4">
                 <a class="red darken-4 white-text right modal-close waves-light btn">Cancel</a>
              </div>
       
              <div class="col s4">
                {{form.submit(class=" right purple darken-4 waves-light btn", value="Add Student")}}
              </div>
         </div>
        </form>
    </div>
    </div>

    <div class="modal grey darken-3" id="edit_student">
      <div class="modal-content">
        <h6 style="font-weight: bold;">Update Student </h6>
       <form id="updateStudent" class="col s12 m12" method="POST" >
          {{ form.csrf_token }}
          <div class="input-field col s12 m12"> 
           <p>Student ID</p>           
            {{ form.student_id(size=20, class="validate white-text", id="u_sid") }}
          </div>  
          <div class="input-field col s12 m4"> 
            <p>First Name</p>
             {{ form.f_name(size=20, class="validate white-text", id="u_fname") }}
           </div> 
  
           <div class="input-field col s12 m4"> 
            <p>Last Name</p>
             {{ form.l_name(size=20, class="validate white-text", id="u_lname") }}
           </div>
  
           <div class="input-field col s12 m3"> 
            <p>Faculty</p>
             {{ form.faculty(size=20, class="validate white-text", id="u_fac") }}
           </div> 
  
           <div class="input-field col s12 m6"> 
            <p>Phone Number</p>
             {{ form.p_no(size=20, class="validate white-text", id="u_phno") }}
           </div> 
  
           <div class="input-field col s12 m6"> 
            <p>Email</p>
             {{ form.email(size=20, class="validate white-text", id="u_email") }}
           </div> 
           <div class="input-field col s8 m8" style="display:inline;">
            {{form.submit(id="u_submit",class=" right purple darken-4 waves-light btn")}}
            <a class="red darken-4 white-text right modal-close waves-light btn">Cancel</a>
          </div> 
      </form>
  </div>
  </div>

    <div class="modal grey darken-3" id="new_Rent">
      <div class="modal-content">
        <h6 style="font-weight: bold;">New Rent</h6>
        <form id="newRent" class="col s12 m12" method="POST" action="/makerent/{{id}}" autocomplete="off">
          {{ form.csrf_token }}

          <div class="input-field col s12 m12"> 
            <div class="col s6">
              <p>Student ID</p>
              {{ rent.student_id(size=20, class="validate white-text", id="rent_student_id") }}
            </div>

            <div class="col s6">
              <p>Rent Type</p>
              <select name="rent_type" style="display:inline;">
                <option value=”” disabled selected>Select Transaction Type</option>
                {% for subfield in rent.rent_type %}
                {{subfield}}
                {% endfor %}
              </select>
            </div>
          </div>  
          
          <div class="input-field col s12 m12">
            <div class="col s6">  
              <p>Rent From</p>
            {{rent.rent_date_from(class='datepicker white-text')}}
            </div> 

            <div class="col s6">
            <p>Rent To</p>
            {{rent.rent_date_to(class='datepicker white-text')}} 
            </div>
          </div> 

          <div class="input-field col s8 m8 offset-m4" style="display:inline;">
            {{rent.submit(class=" right purple darken-4 waves-light btn")}}
            <a class="red darken-4 white-text right modal-close waves-light btn">Cancel</a>
          </div>      
        </form>
      </div>
    </div>
  </div>
  <div id="pag" class="col s12 center-align">
    <ul class="pagination">
  
    {% if current_page == 1 %}
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    {% else %}
    <li><a href="/locker/rent/{{id}}/student/{{previous}}"><i class="material-icons">chevron_left</i></a></li>
    {% endif %}
    
    <li class="waves effect purple darken-4"><a href="#" style="color:white;">{{current_page}}</a></li>
    
    {% if current_page == num_pages %}
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    {% else %}
    <li><a href="/locker/rent/{{id}}/student/{{previous}}"><i class="material-icons">chevron_right</i></a></li>
    {% endif %}
  </ul>
  </div>

</div>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems);
    });
  
    function editMode(student,locker){
     form = document.getElementById('updateStudent')
     form.action = "/student/"+student.student_id+"/update?callback="+locker
  
     student_id =  document.getElementById('u_sid')
     student_id.value = student.student_id
    
     fname = document.getElementById('u_fname')
     fname.value = student.first_name
  
     lname = document.getElementById('u_lname')
     lname.value = student.last_name
    
     faculty = document.getElementById('u_fac')
     faculty.value = student.faculty
  
    phone_number = document.getElementById('u_phno')
    phone_number.value = student.phone_number
  
     email = document.getElementById('u_email')
     email.value = student.email
  
     button = document.getElementById('u_submit')
     button.value = "Update Student"
  
     elem = document.getElementById('edit_student');
     instance = M.Modal.getInstance(elem)
     instance.open()
    }

    function createRent(studentID){
      studentIDBox = document.getElementById("rent_student_id")
      studentIDBox.value = studentID

     elem = document.getElementById('new_Rent');
     instance = M.Modal.getInstance(elem)
     instance.open()
    }
  </script>      
{% endblock %}
 
