{% extends "layout.html" %}
{% block title %}Key {% endblock %}
{% block page %}Key{% endblock %}

{{ super() }}

{% block content %}
<div class="row">
  <div class="row">
    <div class="col s12 m4 offset-m8">
      <form action="/key/search" id="search_form">
        <div class="input-field col s12 m12">
         <div class = "search-wrapper">
          <input type="search" name="search_query" placeholder="Enter search query" required/>
          <i class="material-icons white-text" style="color:#4a148c; top:1vh; " id="submit_search">search</i>
         </div>
        </div>
      </form>
    </div>
</div>

      <div class="col s12 m10 offset-m1" style="height:100vh;">
        <table>
          <tr>
              <th>KeyID</th>
              <th>MasterKey </th>
              <th>Status</th>
              <th>Date Added</th>
              
          </tr>

        {% if keyData %}
        {% for k in keyData %}
        <tr class="purple darken-4">
            <td><a href="/key/{{k.key_id}}">{{k.key_id}}</a></td>
            <td><a href="/masterkey/{{k.masterkey_id}}">{{k.masterkey_id}}</a></a></td>
            <td>{{k.key_status}} </td>
            <td>{{k.date_added}}</td>
            <div style=" position: relative;display: inline-flex;">
            <td style="width:160px;"><a href="#assign_key" onclick="assign('{{k.key_id}}')" class="purple darken-4 waves-effect waves-light btn-small"><i class="material-icons left">add</i>Assign</a></td>
              <td style="width:160px;"><a href="#edit" onclick="editMode({{k}})" class="purple darken-4 waves-effect waves-light btn-small"><i class="material-icons left">edit</i>Edit</a></td>
              <td style="width:160px;"><a href="#delete" onclick="removeMode({{k}})" class="purple darken-4 waves-effect waves-light btn-small"><i class="material-icons left">delete</i>Delete</a></td>
            </div>
        </tr>
            
        {% endfor %}
        {% endif %}
        </table>
    </div>
    <div class="col s12 m12 l12 center-align" id="pag">
        <ul class="pagination">
          {% if query %}
          {% if current_page == 1  %}
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            {% else %}
            <li><a href="/key/search/page/{{previous}}/?search_query={{query}}"><i class="material-icons white-text">chevron_left</i></a></li>
            {% endif %}
            <li class="active purple darken-4">{{current_page}}</li>
            {% if current_page == num_pages %}
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            {% else %}
            <li><a href="/key/search/page/{{next}}/?search_query={{query}}"><i class="material-icons white-text">chevron_right</i></a></li>
            {% endif %}
        {% else %}
        {% if current_page == 1  %}
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        {% else %}
        <li><a href="/key/page/{{previous}}"><i class="material-icons white-text">chevron_left</i></a></li>
        {% endif %}

        <li class="active purple darken-4"><a href="#">{{current_page}}</a></li>
       
        {% if current_page == num_pages %}
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        {% else %}
        <li><a href="/masterkey/page/{{next}}"><i class="material-icons white-text">chevron_right</i></a></li>
        {% endif %}
      {% endif %}

      </ul>
      </div>
        <div class="fixed-action-btn">
         <a class="btn-floating btn-large waves-effect waves-light purple darken-4 modal-trigger"  href="#new_key"><i class="material-icons">add </i></a>
     </div>
    
     <div class="row">
        <div class ="modal grey darken-3 white-text" id="new_key">
            <div class ="modal-content" id="content">
              <h6 style="font-weight: bold;"> Add Key </h6>
              <form id="newKey" class="col s12 m12" method="POST" action="/masterkey/key?callback=key" autocomplete="off">
                {{keys.csrf_token}}
                <div class="input-field col s12 m12">  
                  <div class="col s6">
                    <p>Key ID</p>
                    {{ keys.key_id(size=20, class="validate white-text")}}
                  </div>  
                  <div class="col s6">
                    <p>MasterKey ID</p>
                    {{ keys.masterkey_id(size=20, class="validate white-text",id="m_key")}}
                  </div> 
                 </div> 
                 
                 <div class="input-field col s12 m12">  
                  <div class="col s6">
                    <p>Key Status</p>
                    <select id="key_status" name="key_status" style="display:inline;">
                      <option value=”” disabled selected>Select a Key Status</option>
                      {% for subfield in keys.key_status %}
                       {{subfield}}
                      {% endfor %}
                    </select>
                  </div>  
                  <div class="col s6">
                    <p>Date Added</p>
                    {{ keys.date_added(size=20, class="datepicker white-text")}}
                  </div> 
                 </div> 
                 <div class="input-field col s8 m8 offset-m4" style="display:inline;">
                  {{keys.submit(class=" right purple darken-4 waves-light btn")}}
                  <a class="red darken-4 white-text right modal-close waves-light btn">Cancel</a>
                </div> 
              </form>
              </div>
              </div>
              <div class="modal grey darken-3" id="delete_key">
                <div class="modal-content">
                  <h6 style="font-weight: bold;">Delete Locker </h6>
                  <form id="deleteKey" class="col s12 m12" method="POST">
                  {{ delete.csrf_token }}
                  <div class="input-field col s12 m12"> 
                    <h5 id="deleteTitle"></h5>
                  </div>
                
                <div class="input-field col s8 m8 offset-m4" style="display:inline;">
                  {{delete.submit(class="right purple darken-4 waves-light btn")}}
                  <a class="red darken-4 white-text right modal-close waves-light btn">Cancel</a>          </div>
                </form>
              </div>
            </div>
            <div class ="modal grey darken-3 white-text" id="assign_Key">
              <div class ="modal-content" id="content">
                <h6>Assign Key</h6>
                <form id="assignKey" class="col s12 m12" method="POST">
                  <div class="input-field col s8 m8 offset-m2">
                    <input type="text" class="white-text" id="assignBox" name="assign">
                  </div>                  
                  <div class="input-field col s8 m8 offset-m2" style="display:inline;">
                    <input type="submit" value="Assign" class="right purple darken-4 waves-light btn">
                    <a class="red darken-4 white-text right modal-close waves-light btn">Cancel</a>          
                  </div>
                </form>
                </div>
            </div>
            <div class ="modal grey darken-3 white-text" id="edit_key">
              <div class ="modal-content" id="content">
                <h6 style="font-weight: bold;"> Edit Key </h6>
                <form id="editKey" class="col s12 m12" method="POST" action="/key" autocapitalize="off">
                  {{keys.csrf_token}}
                  <div class="input-field col s12 m12">  
                    <div class="col s6">
                      <p>Key ID</p>
                      {{ keys.key_id(size=20, class="validate white-text", id='u_key_id')}}
                    </div>  
                    <div class="col s6">
                      <p>MasterKey ID</p>
                      {{ keys.masterkey_id(size=20, class="validate white-text",id="u_m_key")}}
                    </div> 
                   </div> 
                   
                   <div class="input-field col s12 m12">  
                    <div class="col s6">
                      <p>Key Status</p>
                      <select id="u_key_status" name="key_status" style="display:inline;">
                        <option value=”” disabled selected>Select a Key Status</option>
                        {% for subfield in keys.key_status %}
                         {{subfield}}
                        {% endfor %}
                      </select>
                    </div>  
                    <div class="col s6">
                      <p>Date Added</p>
                      {{ keys.date_added(size=20, class="datepicker white-text",id='u_date')}}
                    </div> 
                   </div> 
                   <div class="input-field col s8 m8 offset-m4" style="display:inline;">
                    {{keys.submit(class=" right purple darken-4 waves-light btn", id='u_submit')}}
                    <a class="red darken-4 white-text right modal-close waves-light btn">Cancel</a>
                  </div> 
                </form>
                </div>
                </div>
     </div>
</div>
<script src="/static/autocomplete.js"></script>

<script>
    autocomplete(document.getElementById('assignBox'),{{lockers| safe}})
    autocomplete(document.getElementById('m_key'),{{masterkeys| safe}})
    autocomplete(document.getElementById('u_m_key'),{{masterkeys| safe}})
    function removeMode(key){

    form = document.getElementById('deleteKey')
    title = document.getElementById('deleteTitle')
    title.innerHTML = "Are you sure you want to delete "+key.key_id+"! This action cannot be undone"
    form.action = "/key/"+key.key_id+"/confirmed"

    elem = document.getElementById('delete_key');
    instance = M.Modal.getInstance(elem)
    instance.open()
 }

 function editMode(key){
   form = document.getElementById('editKey')
   form.action = "/key/"+key.key_id+"/update"

   id =  document.getElementById('u_key_id')
   id.value = key.key_id
  
   masterkey = document.getElementById('u_m_key')
   key_status = document.getElementById('u_key_status')
   masterkey.value = key.masterkey_id
  
   button = document.getElementById('u_submit')


   button.value = "Update key"
    
   date = document.getElementById("u_date")
   date.value = key.date_added

   for (i = 0; i < key_status.options.length; i++){
      if(key_status.options[i].value === key.key_status){
        key_status.selectedIndex = i
      }
   }
  
   
   elem = document.getElementById('edit_key');
   instance = M.Modal.getInstance(elem)
   instance.open()
  }

  function assign(key){
    form = document.getElementById('assignKey')
    form.action = "/key/"+key+"/assign"

    elem = document.getElementById('assign_Key');
   instance = M.Modal.getInstance(elem)
   instance.open()
  }
</script>



{% endblock %}