{% extends "layout.html" %}
{% block title %}Manage Students {% endblock %}
{% block page %}Manage Students {% endblock %}

{{ super() }}

{% block content %}
<div class="row">
  <div class="row">
    <div class="col s12 m3 offset-m9">
      <form action="/student/search" id="search_form">
        <div class="input-field col s12 m12">
         <div class = "search-wrapper">
          <input type="search" name="search_query" placeholder="Enter search query" required/>
          <i class="material-icons white-text" style="top:1vh; " id="submit_search">search</i>
         </div>
        </div>
      </form>
    </div>
  </div>

<div class="row" >
      <div class="col s12 m10 offset-m1" style="height:100vh;">
        <table>
        <tr>
            <th>StudentID</th>
            <th>First Name </th>
            <th>Last Name </th>
            <th>Faculty</th>
            <th>Phone no.</th>
            <th>Email </th>
            <th>Standing</th>
        </tr>

        {% if studentData %}
        {% for s in studentData %}
        <tr class="purple darken-4">
            <td><a href="/student/{{s.student_id}}">{{s.student_id}}</a></td>
            <td>{{s.first_name}}</td>
            <td>{{s.last_name}}</td>
            <td>{{s.faculty}} </td>
            <td>{{s.phone_number}} </td>
            <td>{{s.email}}</td>
            <td>{{s.rentStanding}}</td>
            <div style=" position: relative;display: inline-flex;">
              <td style="width:120px;"><a href="#" onclick="editMode({{s}})" class="purple darken-4 waves-effect waves-light btn-small"><i class="material-icons">edit</i></a></td>
            </div>
            
        </tr>
            
        {% endfor %}
        {% endif %}
      </table>
     </div>

     <div class="col s12 m12 l12 center-align" id="pag">
      <ul class="pagination">
        {% if query %}
          {% if current_page == 1  %}
              <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
          {% else %}
              <li><a href="/student/search/page/{{previous}}/?search_query={{query}}"><i class="material-icons white-text">chevron_left</i></a></li>
          {% endif %} 
          <li class="active purple darken-4"><a href="#" style="color:white;">{{current_page}}</a></li>
          {% if current_page == num_pages %}
          <li class="disabled"><a href="#!"><i class="material-icons white-text">chevron_right</i></a></li>
          {% else %}
          <li><a href="/student/search/page/{{next}}/?search_query={{query}}"><i class="material-icons">chevron_right</i></a></li>
          {% endif %}
        {% else %}
          {% if current_page == 1  %}
          <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
          {% else %}
          <li><a href="/student/page/{{previous}}"><i class="material-icons white-text">chevron_left</i></a></li>
          {% endif %}

          <li class="active purple darken-4"><a href="#">{{current_page}}</a></li>

          {% if current_page == num_pages %}
          <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
          {% else %}
          <li><a href="/student/page/{{next}}"><i class="material-icons white-text">chevron_right</i></a></li>
          {% endif %}
      {% endif %}
    </ul>
    </div>

     
        <div class="fixed-action-btn">
         <a class="btn-floating btn-large waves-effect waves-light purple darken-4 modal-trigger"  href="#new_student"><i class="material-icons">add </i></a>
       </div>
      <div class="modal grey darken-3" id="new_student">
        <div class="modal-content">
          <h6 style="font-weight: bold;">Add Student </h6>
         <form id="newStudent" class="col s12 m12" method="POST" action="/student">
            {{ form.csrf_token }}
            <div class="input-field col s12 m12"> 
             <p>Student ID</p>           
              {{ form.student_id(size=20, class="validate white-text") }}
            </div>  
            <div class="input-field col s12 m4"> 
              <p>First Name</p>
               {{ form.f_name(size=20, class="validate white-text") }}
             </div> 
  
             <div class="input-field col s12 m4"> 
              <p>Last Name</p>
               {{ form.l_name(size=20, class="validate white-text") }}
             </div>
  
             <div class="input-field col s12 m3"> 
              <p>Faculty</p>
               {{ form.faculty(size=20, class="validate white-text") }}
             </div> 
  
             <div class="input-field col s12 m6"> 
              <p>Phone Number</p>
               {{ form.p_no(size=20, class="validate white-text") }}
             </div> 
  
             <div class="input-field col s12 m6"> 
              <p>Email</p>
               {{ form.email(size=20, class="validate white-text") }}
             </div> 

             <div class="input-field col s8 m8 offset-m4" style="display:inline;">

              <div class="col s4 offset-s4">
                 <a class="red darken-4 white-text right modal-close waves-light btn">Cancel</a>
              </div>
       
              <div class="col s4">
                {{form.submit(class=" right purple darken-4 waves-light btn", value="Add Student")}}
              </div>
         </div>
        </form>
    </div>
    </div>
     

  <div class="modal grey darken-3" id="edit_student">
    <div class="modal-content">
      <h6 style="font-weight: bold;">Update Student </h6>
     <form id="updateStudent" class="col s12 m12" method="POST" >
        {{ form.csrf_token }}
        <div class="input-field col s12 m12"> 
         <p>Student ID</p>           
          {{ form.student_id(size=20, class="validate white-text", id="u_sid") }}
        </div>  
        <div class="input-field col s12 m4"> 
          <p>First Name</p>
           {{ form.f_name(size=20, class="validate white-text", id="u_fname") }}
         </div> 

         <div class="input-field col s12 m4"> 
          <p>Last Name</p>
           {{ form.l_name(size=20, class="validate white-text", id="u_lname") }}
         </div>

         <div class="input-field col s12 m3"> 
          <p>Faculty</p>
           {{ form.faculty(size=20, class="validate white-text", id="u_fac") }}
         </div> 

         <div class="input-field col s12 m6"> 
          <p>Phone Number</p>
           {{ form.p_no(size=20, class="validate white-text", id="u_phno") }}
         </div> 

         <div class="input-field col s12 m6"> 
          <p>Email</p>
           {{ form.email(size=20, class="validate white-text", id="u_email") }}
         </div> 
         <div class="input-field col s8 m8" style="display:inline;">
          {{form.submit(id="u_submit",class=" right purple darken-4 waves-light btn")}}
          <a class="red darken-4 white-text right modal-close waves-light btn">Cancel</a>
        </div> 
    </form>
</div>
</div>
</div>

<script>

  function editMode(student){
   form = document.getElementById('updateStudent')
   form.action = "/student/"+student.student_id+"/update"

   student_id =  document.getElementById('u_sid')
   student_id.value = student.student_id
  
   fname = document.getElementById('u_fname')
   fname.value = student.first_name

   lname = document.getElementById('u_lname')
   lname.value = student.last_name
  
   faculty = document.getElementById('u_fac')
   faculty.value = student.faculty

  phone_number = document.getElementById('u_phno')
  phone_number.value = student.phone_number

   email = document.getElementById('u_email')
   email.value = student.email

   button = document.getElementById('u_submit')
   button.value = "Update Student"

   elem = document.getElementById('edit_student');
   instance = M.Modal.getInstance(elem)
   instance.open()
  }
</script>      

{% endblock %}