{% extends "layout.html" %}
{% block title %}Report {% endblock %}
{% block page %}Report {% endblock %}

{{ super() }}

{% block content %}
<div class="row" style="height: 100vh;">
      <div class="col s12 m8 offset-m1">
        <a href="/report/lockers" class="purple darken-4 waves-effect waves-light btn-large"><i class="material-icons left">cloud</i>Lockers</a>
        <a href="/report/keys" class="purple darken-4 waves-effect waves-light btn-large"><i class="material-icons left">cloud</i>Keys</a>
        <a href="/report/transactions" class="purple darken-4 waves-effect waves-light btn-large"><i class="material-icons left">cloud</i>Transactions</a>

  </div>
</div>



{% endblock %}