{% extends "layout.html" %}
{% block title %}Report Generation {% endblock %}
{% block page %}Report Generation {% endblock %}

{{ super() }}

{% block content %}
<div class="row" style="height: 100dvh;">
  <div class="container">
    <div class="col s12">
      <div class="row" style="padding: 0dvh 2.5dvh 5.5dvh 2.5dvh;">
        <form id="report_form">
          <div class="input-field col s4">
            <label>
              <span> Start Date: </span>
              <input type="date" name="start_date" class="white-text">
              <span class="helper-text" data-error="Invalid Date" data-success="" id="s_date_helper"></span>
            </label>
          </div>
          <div class="input-field col s4">
            <label>
              <span> End Date: </span>
              <input type="date" name="end_date" class="white-text">
              <span class="helper-text" data-error="Invalid Date" data-success="" id="e_date_helper"></span>
            </label>      
          </div>
          <div class="input-field col s4">
            <input type="submit">
          </div>
        </form>
      </div> 
      <div id="row">
      <div class="row">
        <div class="col s12">
          <ul class="tabs purple darken-4">
            <li class="tab col s2"><a href="#hourly" class="white-text">Hourly</a></li>
            <li class="tab col s2"><a href="#daily_tab" class="white-text">Daily</a></li>
            <li class="tab col s2"><a href="#yearly_tab" class="white-text">Yearly</a></li>
            <li class="tab col s2"><a href="#semester_tab" class="white-text">Semester</a></li>
            <li class="tab col s2"><a href="#total_tab" class="white-text">Total</a></li>
            <li class="tab col s2"><a id="download_pdf" class="btn purple darken-4"><i class="white-text material-icons">insert_chart</i></a></li>
          </ul>
        </div>
        <div id="daily_tab">
            <div class="col s12">
              <ul class="tabs purple darken-4">
                <li class="tab col s4"><a class="white-text" href="#daily_tab_act_rents">Active</a></li>
                <li class="tab col s4"><a href="#daily_tab_com_rents" class="white-text">Complete</a></li>
              </ul>
              <div id="daily_tab_act_rents"></div>
              <div id="daily_tab_com_rents"></div>
          </div>
        </div>
        <div id="hourly">
          <div class="col s12">
            <ul class="tabs purple darken-4">
              <li class="tab col s4"><a href="#hourly_tab_act_rents" class="white-text">Active</a></li>
              <li class="tab col s4"><a href="#hourly_tab_com_rents" class="white-text">Complete</a></li>
            </ul>
            <div id="hourly_tab_act_rents"></div>
            <div id="hourly_tab_com_rents"></div>
          </div>
        </div>
        <div id="yearly_tab">
          <div class="col s12">
            <ul class="tabs purple darken-4">
              <li class="tab col s4"><a href="#yearly_tab_act_rents" class="white-text">Active</a></li>
              <li class="tab col s4"><a href="#yearly_tab_com_rents" class="white-text">Complete</a></li>
            </ul>
            <div id="yearly_tab_act_rents"></div>
            <div id="yearly_tab_com_rents"></div>
          </div>
        </div>
        <div id="semester_tab">
          <div class="col s12">
            <ul class="tabs purple darken-4">
              <li class="tab col s4"><a href="#semester_tab_act_rents" class="white-text">Active</a></li>
              <li class="tab col s4"><a href="#semester_tab_com_rents" class="white-text">Complete</a></li>
            </ul>
            <div id="semester_tab_act_rents"></div>
            <div id="semester_tab_com_rents"></div>
          </div>
        </div>
        <div id="total_tab"></div>
      </div>                  
    </div>
    </div>
    
   
  </div>
</div>
<script type="module">
  'use strict'
  import {is_validDate, is_empty} from "/static/validate_functions.js"

  let total_check = {}
  let s_date = ''
  let e_date = ''

  function disablePDF(){
    s_date = ''
    e_date = ''
  }

  function enablePDF(start_date, end_date){
    s_date = start_date
    e_date = end_date
  }

  async function getReport(event){
    event.preventDefault()
    disablePDF()
    let form = event.target
    let fields = event.target.elements

    let data = {
      start_date: fields['start_date'].value,
      end_date:fields['end_date'].value
    }
    total_check = {
      "small":{
      "length":0,
      "amount":0,
    },
    "medium":{
      "length":0,
      "amount":0,
    },
    "large":{
      "length":0,
      "amount":0,
    },
    "combination":{
      "length":0,
      "amount":0,
    }
    }
    if(is_validDate(data['start_date']) && is_validDate(data['end_date'])){
      enablePDF(data['start_date'],data['end_date'])
      let response = await sendRequest('/api/report/period','POST',data).then((response)=>{
      if (response.Message){
          throw new Error(response["Message"])
      }
      populate_tables_active(response,"daily_tab_act_rents","daily")
      populate_tables_active(response,"yearly_tab_act_rents","yearly")
      populate_tables_active(response,"semester_tab_act_rents","semester")
      populate_tables_active(response,"hourly_tab_act_rents","hourly")

      populate_tables_comp(response,"daily_tab_com_rents","daily")
      populate_tables_comp(response,"yearly_tab_com_rents","yearly")
      populate_tables_comp(response,"semester_tab_com_rents","semester")
      populate_tables_comp(response,"hourly_tab_com_rents","hourly")
      populate_total("total_tab")
    }).catch((response) =>{
        toast(response)
    })
  }
  else{
    toast("Error in Data")
    if (is_empty(data['start_date'])){
        form["start_date"].classList.add('invalid')
        document.getElementById('s_date_helper').dataset.error = "Start Date cannot be empty"
    }
    else{
      form["start_date"].classList.add('invalid')
      document.getElementById('s_date_helper').dataset.error = "Start Date : "+form["start_date"].value+" is invalid"
    }
    if (is_empty(data['end_date'])){
        form["end_date"].classList.add('invalid')
        document.getElementById('e_date_helper').dataset.error = "End Date cannot be empty"
    }
    else{
        form["end_date"].classList.add('invalid')
        document.getElementById('e_date_helper').dataset.error = "End Date: "+form["end_date"].value+" is invalid"
    }
  }
}
  function populate_tables_active(response,element_id,rentType){
      let element = document.getElementById(element_id)
      element.innerHTML = 
      ` <table>
            <thead>
              <tr>
                <th>Locker Type</th>
                <th>Number of Rents</th>
                <th>Revenue</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Small</td>
                <td>${response.rents[rentType].Small.length}</td>
                <td>$${response.rents[rentType].Small.amount}</td>
              </tr>
              <tr>
                <td>Medium</td>
                <td>${response.rents[rentType].Medium.length}</td>
                <td>$${response.rents[rentType].Medium.amount}</td>
              </tr>
              <tr>
                <td>Large</td>
                <td>${response.rents[rentType].Large.length}</td>
                <td>$${response.rents[rentType].Large.amount}</td>
              </tr>
              <tr>
                <td>Combination</td>
                <td>${response.rents[rentType].Combination.length}</td>
                <td>$${response.rents[rentType].Combination.amount}</td>
              </tr>
              <tr>
                <td>Total</td>
                <td>${response.rents[rentType].Total.length}</td>
                <td>$${response.rents[rentType].Total.amount}</td>
              </tr>
            </tbody>
          </table>
          `
      total_check["small"]["length"] = total_check["small"]["length"] + response.rents[rentType].Small.length
      total_check["small"]["amount"] = total_check["small"]["amount"] + response.rents[rentType].Small.amount

      total_check["medium"]["length"] = total_check["medium"]["length"] + response.rents[rentType].Medium.length
      total_check["medium"]["amount"] = total_check["medium"]["amount"] + response.rents[rentType].Medium.amount

      total_check["large"]["length"] = total_check["large"]["length"] + response.rents[rentType].Large.length
      total_check["large"]["amount"] = total_check["large"]["amount"] + response.rents[rentType].Large.amount

      total_check["combination"]["length"] = total_check["combination"]["length"] + response.rents[rentType].Combination.length
      total_check["combination"]["amount"] = total_check["combination"]["amount"] + response.rents[rentType].Combination.amount
  }
  function populate_tables_comp(response,element_id,rentType){
      let element = document.getElementById(element_id)
      element.innerHTML = 
      ` <table>
            <thead>
              <tr>
                <th>Locker Type</th>
                <th>Number of Rents</th>
                <th>Revenue</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Small</td>
                <td>${response.returns[rentType].Small.length}</td>
                <td>$${response.returns[rentType].Small.amount}</td>
              </tr>
              <tr>
                <td>Medium</td>
                <td>${response.returns[rentType].Medium.length}</td>
                <td>$${response.returns[rentType].Medium.amount}</td>
              </tr>
              <tr>
                <td>Large</td>
                <td>${response.returns[rentType].Large.length}</td>
                <td>$${response.returns[rentType].Large.amount}</td>
              </tr>
              <tr>
                <td>Combination</td>
                <td>${response.returns[rentType].Combination.length}</td>
                <td>$${response.returns[rentType].Combination.amount}</td>
              </tr>
              <tr>
                <td>Total</td>
                <td>${response.returns[rentType].Total.length}</td>
                <td>$${response.returns[rentType].Total.amount}</td>
              </tr>
            </tbody>
          </table>
      `
      total_check["small"]["length"] = total_check["small"]["length"] + response.returns[rentType].Small.length
      total_check["small"]["amount"] = total_check["small"]["amount"] + response.returns[rentType].Small.amount

      total_check["medium"]["length"] = total_check["medium"]["length"] + response.returns[rentType].Medium.length
      total_check["medium"]["amount"] = total_check["medium"]["amount"] + response.returns[rentType].Medium.amount

      total_check["large"]["length"] = total_check["large"]["length"] + response.returns[rentType].Large.length
      total_check["large"]["amount"] = total_check["large"]["amount"] + response.returns[rentType].Large.amount

      total_check["combination"]["length"] = total_check["combination"]["length"] + response.returns[rentType].Combination.length
      total_check["combination"]["amount"] = total_check["combination"]["amount"] + response.returns[rentType].Combination.amount
  }
  function populate_total(element_id){
    let element = document.getElementById(element_id)
      element.innerHTML = 
      ` <table>
            <thead>
              <tr>
                <th>Locker Type</th>
                <th>Number of Rents</th>
                <th>Revenue</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Small</td>
                <td>${total_check.small.length}</td>
                <td>$${total_check.small.amount}</td>
              </tr>
              <tr>
                <td>Medium</td>
                <td>${total_check.medium.length}</td>
                <td>$${total_check.medium.amount}</td>
              </tr>
              <tr>
                <td>Large</td>
                <td>${total_check.large.length}</td>
                <td>$${total_check.large.amount}</td>
              </tr>
              <tr>
                <td>Combination</td>
                <td>0</td>
                <td>$0</td>
              </tr>
              <tr>
                <td>Total</td>
                <td>${total_check.small.length + total_check.medium.length + total_check.large.length + total_check.combination.length}</td>
                <td>$${total_check.small.amount + total_check.medium.amount+ total_check.large.amount + total_check.combination.amount }</td>
              </tr>
            </tbody>
          </table>
      `
  }
  document.getElementById('report_form').addEventListener('submit',getReport)
  document.getElementById('download_pdf').addEventListener('click',async ()=>{
    
    if(s_date === '' || e_date === '' ){toast('No target date set')}
    else{
      let data = {start_date: s_date,end_date:e_date}
    
      if(is_validDate(data['start_date']) && is_validDate(data['end_date'])){
        let token = window.localStorage.getItem('access_token');
        let options = {
          method:'POST',
          headers: { 
            'Content-Type' : 'application/json',
            'Authorization' : `JWT ${token}`
          }
        }
        options.body = JSON.stringify(data)
        let response = await fetch('/api/report/pdf',options).then(response => {
          if (response.type === 'application/json'){
            throw new Error(response.json().Message)
          }
          else{
            return response.blob()
          }
        })
        .then(
          blob => {
              let a = document.createElement("a")
              let file = window.URL.createObjectURL(blob)
              a.href = file
              a.download ="SACReport_"+s_date+"_to_"+e_date+".pdf"
              a.click()
              a.remove()
          })

    }
      else{
        toast('Cannot download PDF due to invalid Date')
    }}
  })
</script>
{% endblock %}